*.csproj.DotSettings
*.csproj.user
*.psess
*.suo
*.vsp
*.vspx
bin/
obj/
SubtitleEdit-*-setup.exe
/cov-int/
/SE*.zip
/src/Languages/XmlContentTranslator.exe
/src/Properties/AssemblyInfo.cs
/src/TestResults/
/SubtitleEdit.lzma
/SubtitleEdit.tar
/SubtitleEdit.tgz
/tabspace.exe
/src/Languages/LanguageMaster.xml

# NuGet
/src/.nuget/NuGet.exe
/src/.nuget/NuGet.Config
/src/packages
/src/SubtitleEdit.sln.DotSettings.user
