*.csproj.DotSettings
*.psess
*.suo
*.user
*.vsp
*.vspx
/cov-int/
/SE*.zip
/src/Languages/LanguageMaster.xml
/src/Languages/XmlContentTranslator.exe
/src/Properties/AssemblyInfo.cs
/src/TestResults/
/SubtitleEdit.lzma
/SubtitleEdit.tar
/SubtitleEdit.tgz
/tabspace.exe
bin/
obj/
SubtitleEdit-*-setup.exe

# Visual Studio 2015
*.ide

# NuGet
/src/.nuget/NuGet.exe
/src/.nuget/NuGet.Config
/src/packages/
/libse/Properties/AssemblyInfo.cs
