version: 5.0.{build}
image: Visual Studio 2022

# Ensure we have the .NET 10 SDK
install:
  - ps: Invoke-WebRequest -Uri "https://dot.net/v1/dotnet-install.ps1" -OutFile "dotnet-install.ps1"
  - ps: ./dotnet-install.ps1 -Version 10.0.100 -InstallDir "C:\Program Files\dotnet"

configuration: Release

before_build:
  - dotnet restore SubtitleEdit.sln

build_script:
  # Using MSBuild with the AppVeyor logger to track progress in the UI
  - msbuild SubtitleEdit.sln /p:Configuration=Release /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll" -verbosity:m

test_script:
  # Run unit tests (excluding benchmarks)
  - dotnet test tests\libse\LibSETests.csproj --configuration Release --no-build --logger "trx;LogFileName=libse-tests.trx"
  - dotnet test tests\UI\UITests.csproj --configuration Release --no-build --logger "trx;LogFileName=ui-tests.trx"

after_test:
  # Upload test results to AppVeyor
  - ps: |
      $testResults = Get-ChildItem -Path ".\tests" -Filter "*.trx" -Recurse
      foreach ($testResult in $testResults) {
        $wc = New-Object 'System.Net.WebClient'
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/mstest/$($env:APPVEYOR_JOB_ID)", $testResult.FullName)
      }

