@{
    ViewBag.Title = "Subtitle Edit 3.3 Laguntza";
    ViewBag.Footer = "LaGuNgaRrI iZaTeA iTxAroTen dUt";
	ViewBag.MetaKeywords = "Subtitle Edit help, subtitle tutorial, FAQ, how to synchronize";
	ViewBag.MetaDescription = "Subtitle Edit help page";
    ViewBag.FavIcon = "/favicon.ico";
}
<h1>@ViewBag.Title</h1>
<hr />
<br />
<div style="text-align:right">Laguntza eskuragarri dago ere: <a href="/SubtitleEdit/Help">English</a> | <a href="/SubtitleEdit/HelpEs">Spanish</a> | <a href="/Content/SubtitleEdit/Help/RU">Russian</a></div>
<h2>SEG Txikia</h2>
G: x heuskarriko bideo bat irekitzen saiatzen naizenean, SE-ek ezin du bideoa irakurri edo ez dago soinurik. Zer egin dezaket?<br />
E: Direct Show erabiltzen baduzu bideo irakurgailu bezala zihurtatu <a href="#codecs">kodek zuzenak</a> erabiltzeaz. Nik k-lite bezalako kodek pakete guztiak kentzea eta <a href="http://code.google.com/p/lavfilters/downloads/list">LAV iragazkiak</a> 32-bit (+64-bit nahi baduzu) bakarrik ezartzea gomendatzen dut. Beste aukera bat VLC bideo irakurgailu bezala erabiltzea da.<br />
<br />
G: Non dago atzerapen tresna?<br />
E: Erabili <b>Erakutsi lehenago/geroago</b> <b>Aldiberetze</b> menuan. Lastertekla <b>Ktrl+Shift+A</b> da. Tresna leiho bat da, hortaz irekita eduki dezakezu lanean ari zaren bitartean <br /> edo azpidatziaren aurreikuspena bideo irakurgailuan egiaztatzerakoan.<br />
<br />
G: Zergaitik ezin du Subtitle Editek frame neurria aldatu?<br />
E: Ongi, ahal du. Hautatu <b>Aldiberetzea -> Aldatu frame neurria</b>.<br />
<br />
G: Zergaitik ezin du Subtitle Editek azpidatziak banandu/erantsi?<br />
E: Erabili <b>Tresnak -> Banandu/erantsi</b>.<br />
<br />
G: Subtitle Editek denborak orekatu ahal ditu - baina ez oso hasieratik?<br />
E: Bai, azpidatzi lerro hautapen batekin lan egin dezakezu. Hautatu lerroak
zerrenda ikuspenean (aholkua: klikatu lehen lerroan,
orduan shift+klikatu azkena) eta
eskuin-klikatu zerrenda ikuspenean (hitzinguru menua) - orain hautaturiko lerroak
zehaztu ditzakezu "ikus aldiberetu hautaturiko lerroak" edo bestela "erakutsi
hauturiko lerroak lehenago/geroago" erabiliz.<br />
<br />
G: Subtitle Editek bideoa ikusleiho-osoan irakurri dezake?<br />
E: Bai, sakatu ALT+ENTER. Erabili tarte tekla irakurri/pausatzeko eta ALT+GORA/BEHERA GEZIA hurrengo/aurreko azpidatzia ikusteko.<br />
<br />
G: Azpidatziak itzultzerakoan/editatzerakoan, Subtitle Editek nabigatu dezake azkar hurrengo lerrora?<br />
E: Bai, sakatu ALT+GORA/BEHERA GEZIA hurrengo/aurreko azpidatzira joateko - idaz-kutxak ere fokuari heutsi diezaioke.<br />
<br />
G: Subtitle Editek gehitu ahal ditu azpidatziak bideo agirira?<br />
E: Ez, Subtitle Editek ezin du egin - baina 100+ irteera heuskarrietako batek edo gehiagok lan egin behar du. Erabili <i>Agiria</i> -> <i>Gorde honela...</i> idatzi ohinarriko azpidatzientzat edo <i>Agiria</i> -> <i>Esportatu...</i> binario/irudi-ohinarriko heuskarrientzat.<br />
Bi bide daude azpidatziak bideo agirira gehitzeko - erreta (ezin dira inoiz ezkutatu, hortaz <i>beharketa</i> hau ideia txarra izan daiteke) edo barneratuz (zenbait heuskarrirako bakarrik, mkv, mp4 bezala).<br />
Irakurri gehiago <a href="AddSubtitlesToVideo">azpidatziak gehitzea bideoari</a>.
<br />
<br />
<hr />
<br />
<h2>Laguntza Aurkibidea</h2>
<div style="margin-left: 25px; line-height: 25px;">
	<a href="#main">Subtitle Edit leiho nagusia</a><br />
	<a href="#main_resize">Subtitle Edit leiho nagusia - birneurritu/uztargabetu</a><br />
	<a href="#main_edit_original">Subtitle Edit leiho nagusia - editatu jatorrizkoa</a><br />
	<a href="#video_modes">Bideo/uhinera edo argilitzaera moduak</a><br />
	<a href="#waveform">Uhinera eta Argilitzaera</a><br />
	<a href="#export">Esportatu</a><br />
	<a href="#sync">Aldiberetzea</a><br />
	<a href="#visual_sync">Ikus aldiberetzea</a><br />
	<a href="#translation">Itzulpena (berez)</a><br />
	<a href="#fixcommonerrors">Akats arrunten zuzenketa</a><br />
	<a href="#spellcheck">Idaz egiaztapena</a><br />
	<a href="#importvobsub">Inportatu/OCR irudi ohinarriko azpidatziak - DVD Sub/idx edo Blu-ray sup bezalakoak</a><br />
	<a href="#shortcuts">Lasterteklak</a><br />
	<a href="#translate">Subtitle Edit beste hizkuntza batera itzultzea</a><br />
	<a href="#networking">Sarea - online elkarlaguntza</a><br />
	<a href="#codecs">Bideo irakurgailua eta kodekak</a><br />
	<a href="#commandline">Komando lerro bihurketa</a><br />
	<a href="#portable">Bertsio eramangarria eta VLC</a><br />
	<a href="#plugins">Egin zeure plugina</a><br />
	<a href="#compile">Subtitle Edit bilketa</a><br />
	<a href="#issues">Arazo Ezagunak</a><br />
</div>
<br />
<hr />
<br />
<h2><a id="main">Subtitle Edit leiho nagusia</a></h2>

<br />
<h3>Ikusleiho nagusiko menua</h3>
Menuan tresna ugari aurkitu ditzakezu, aldatu hizki larri-xehera, banandu, erantsi, idaz egiaztapena, aldiberetzea, aldatu frame neurria, Google itzulpena, bilatu, ordeztu, kendu gorrentzako idatzia eta askoz gehiago!<br />
DVD, vobsub, Blu-ray sup azpidatziak inportatu ditzakezu - Matroska barneko vobsub agiriak ere inportatu daitezke.<br />
<br />
<img src="/Content/SubtitleEdit/EU/main_menu.png" alt="Menu" /><br />
<br />
<small>OHARRA: Tresna ugari daude eskuragarri ere zerrenda ikuspenean eskuin klikatuz.</small>
<br />
<br />
<br />

<br />
<h3><a id="formats">Azpidatzi/agiri heuskarriak</a></h3>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/EU/FormatAndEncoding.png" alt="Subtitle format" />
			<br />
			<br />
			Goiko menuan heuskarria eta kodeaketa hautatu ditzakezu. Lehen hedagarri zerrendak azpidatzi heuskarriak erakusten ditu. SubRip (luzapena ".srt" da) gaur egun heuskarri erabiliena da, hortaz azpidatziak heuskarri honetan gordetzea gomendatzen da.<br />
			Jatorrian SubRip idazki soileko heuskarria zen, baina azken urteetan html etiketak arrunt bihurtu dira. Bereziki etzana eta hizkia etiketak oso erabiliak dira. SubRip sostengua duten irakurgailuen zerrenda ikusteko <a href="http://ale5000.altervista.org/subtitles.htm">aztertu hau</a>.<br />
			<br />
			Agiri kodeaketa berez atzematen da gehienetan. ANSI da gaur egun aurkitzen den heuskarri zahar arruntena, baina beharrezkoa da zure sistemak kultura ezarpen bereizia edukitzea. UTF-8 gomendatzen da azpidatzi berrientzat, honek Ingelerazkoak ez diren hizkiak ANSI-ak baino hobeto kudeatu ditzake (UTF-8 azpidatziek edozein ordenagailutan jardun dezakete zer kultura ezarpen duen axola gabe), eta musika notak bezalako beste ikur batzuk ere erakutsi ditzake. UTF-8 erabiltzearen alde txar bakarra da, batzuetan programa zaharrek ez dutela UFT-8 sostengatzen eta WinXP-ek erdi-unicode hizki gutxik batzuk besterik ez ditu (Lucida Sans Unicode, Time New Roman, Courier New).<br />
			ANSI agiri bat baduzu oraingo kultura/hizkuntzaren bestelakoa den hizkuntza batean (edo baliogabeko UTF/Unicode agiri bat baduzu) menuko gai hau erabili dezakezu:<br /> <i>Agiria</i> -> <i>Inportatu azpidatzia eskuzko kodeaketa hautapenarekin</i>.<br />
			<br />
			<i>Inportatu azpidatzia eskuzko kodeaketa hautapenarekin </i> aurreikuspenarekin:<br />
			<img src="/Content/SubtitleEdit/EU/ChooseEncoding.gif" alt="ChooseEncoding" />
		</td>
	</tr>
</table>
<br />
<br />

<h3>Frame neurria</h3>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/EU/help_framerate.png" alt="Frame rate" /><br />
			<br />
			Frame neurria ez da berez erakusten, baina gaitu dezakezu menuan <i>Aukerak</i> -> <i>Ezarpenak: Tresnabarra: Erakutsi frame neurria tresnabarran</i>.<br />
			Frame neurria frametan eta denbora ohinarriko heuskarrietan ohinarrituriko azpidatziak heuskarri artean bihurtzerakoan erabiltzen da.
			SubRip denboran ohinarriturik dago. MicroDvd (asko erabilia duela 7-9 urte) frametan ohinarriturik dago.<br />
			Denboran ohinarrituriko azpidatziak hobetsiak dira frame neurri aldagaitza ez duten bideotarako - zeinak malgutasunik
			ez duten frametan ohinarrituriko azpidatziekin lan egiten duen.<br />
			Frame neurria aldatzeko erabili  <i>Aldiberetzea</i> -> <i>Aldatu frame neurria</i> - edo erabili beste <a href="#sync">aldiberetze tresnak</a>-tako bat.
		</td>
	</tr>
</table>
<br />
<br />

<h3>Azpidatzi ikuspena - Zerrenda ikuspena edo iturburu ikuspena</h3>
<p>Bi modu daude azpidatzi bat ikusteko - zerrenda ikuspena edo iturburu ikuspena.</p>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/EU/help_sourceview.png" alt="Source view" />
		</td>
		<td>
			Horrela ikusten da azpidatzi agiria orain - ezberdina heuskarri bakoitzean.<br />
			Idatzia eta denbora-kodeak editatu ditzakezu hemen, baina kontuz - erraza da ere gauzak nahastea.<br />
			Subtitle Edit Iturburu ikuspegaian abiarazi dezakezu Ezarpenetan.
		</td>
	</tr>
</table>
<br />
<table>
	<tr>
		<td colspan="2">
			<a id="listview"><img src="/Content/SubtitleEdit/EU/help_listview.png" alt="List view" /></a>
		</td>
	</tr>
	<tr>
		<td>
			Zerrenda ikuspegian azpidatziaren gainikuspen bikaina ematen du - berdina heuskarri guztientzat.<br />
			Idatzia eta denbora-kodeak editatu ditzakezu hemen, lerroak ezabatzea eta txertatzea erraza da.<br />
			<br />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			Ahal da ere lerro ugari hautatzea eta <i>Google itzultzailea</i> edo
			<i>Ikus aldiberetzea</i> tresnak erabiltzea hautaturiko lerroetan.<br />
			<br />
			<a id="listview2"><img src="/Content/SubtitleEdit/EU/help_listview2.png" alt="Listview" /></a>
		</td>
	</tr>
		<td colspan="2">
			<br />
			<br />
			<h3>Idaz-Kutxa</h3>
			<p>Azpidatzia idatzi dezakezun idaz-kutxaren gainean "Hizk/seg" deituriko etiketa bat dago.
			25 baino gehiago baditu laranja/gorriz margotuko da.<br />
			<br />
			</p>
			<img src="/Content/SubtitleEdit/EU/TextBox.png" alt="search" /><br />
			<br />
			Idaz-kutxaren azpian "Lerro bakarraren luzera" deituriko etiketa dago. Lehen lerroak 33 hizkirrikoa da eta bigarren lerroa 75 hizkirrikoa.
			Lerro luzeraren margo xehetasunak alderatzen dira hemen: Ezarpenak -> Aukerak : Orokorra : Lerro bakarraren geh. luzera.
			(43 da berezkoa). Gorriak luzeegia esanahi du, laranjak gehienetik hurbil dagoela.
			<br />
			<br />
		</td>
	<tr>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			<br />
			<h3>Erakutsi bideoa eta/edo uhinera/argilitzaera</h3>
			<br />
			<a id="main_resize">Leiho nagusiak bideoa eta/edo uhinera-argilitzaera erakutsi ditzake.</a> Bideo aginteak uztargabetu daitezke ere - erabilgarria bi monitore badituzu!<br />
			Etzaneko/zutikako lerro gorriek leiho nagusia non birneurriratu dezakezun erakusten dute (banantzaile bidez).<br />
			<br />
			<img src="/Content/SubtitleEdit/EU/main_video1.png" alt="Main window - with video/waveform" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			<br />
			<a id="main_edit_original">Orain bi azpidatziak editatu daitezke aldiberean, itzulpen berria eta jatorrizko azpidatzia.</a> Berez, jatorrizkoa irakurtzeko-bakarrik da, baina hau aldatu dezakezu hemen:<br /> Aukerak -> Ezarpenak: Orokorra: Ahalbidetu jatorrizko azpidatzia editatzea.<br />
			Lasterteklak: <b>Ktrl+U</b> jatorrizko azpidatzia aldatzen du. <b>Ktrl+Shift+U</b> itzulitako / jatorrizko azpidatzia aldatuko du.<br />
			Biak editatzerakoan, jatorrizkoa eta itzulitako azpidatzia, hasiera denbora/iraupena/ezabapena/txertapenak bi azpidatziei eragingo die!<br />
			<br />
			<img src="/Content/SubtitleEdit/EU/main_edit_original.jpg" alt="Main window - with video/waveform" />
		</td>
	</tr>
</table>

<br />
<br />
<h3>Bilatu</h3>
<p>Bilaketa bat egin dezakezu Ktrl+F sakatuz (F3 bilatu hurrengoa). Adierazpen arrunt bilaketa eskuragarri dago.</p>
<img src="/Content/SubtitleEdit/EU/help_search.png" alt="search" /><br />
<br />
<hr />
<br />

<br />
<br />
<h3><a id="multiple_replace">Ordezte Anitza</a></h3>
<p><i>Editatu -> Ordezte anitza</i> erabiliz zeure arauak sortu ditzakezu azpidatzi bat zuzentzeko - baita arau aurreratuak <a href="http://en.wikipedia.org/wiki/Regular_expression">adierazpen arruntak</a> erabiliz!</p>
<p>Idazterakoan adierazpen arrunt taldekatzea eta atzera-xehetasunak oso erabilgarriak dira. Adierazpen arrunt baten zatiak hitzarte batean taldeak dira eta xehetasun bezala erabili daitezke ordezte lerroan $1 lehen taldearen xehatasuna denean eta $2 bigarrenaren xehetasuna eta horrela.<br />
<div style="padding-left:15px">
1 adibidea:  <b>^#( .+)</b> + ordeztu katea <b>♪ $1</b> - "#" hasiera bakarrik ordeztuko da, hortaz idaztzia "# Musika Entzuten #" bada "♪ Musika Entzuten #"-ekin ordeztuko da<br />
2 adibidea:  <b>([a-z]+)([0-9]+)</b> + ordeztu katea <b>$2$1</b> - bi taldeak aldatuko dira, hortaz idatzia "zenbakia52" bada "52zenbakia" bihurtuko da.<br />
</div>
</p>
<img src="/Content/SubtitleEdit/EU/main_edit_multiple_replace.png" alt="Multiple replace" /><br />
<br />
<hr />
<br />

<h2><a id="video_modes">Bideo/uhinera edo argilitza moduak</a></h2>
<br />
Bideoa eta/edo uhinera-argilitzaera erabiltzarekoan hiru modu (hegats) daude eskuragarri: Itzuli, Sortu eta Zehaztu.

<h3>Itzuli modua</h3>
<img src="/Content/SubtitleEdit/EU/mode_translate.png" alt="Translate mode" /><br />
<br />
Itzulpen moduan azpidatzi bat hizkuntza batetik bestera eskuz itzuli dezakezu (edo makinaz itzulitako azpidatzi bat zuzendu)
bideoa ikusten - eta audioa entzuten duzun bitartean.<br />
"Berez berregin" gaituta badago, azpidatzia x-aldiz berregingo da idatzi zuzena idazten duzun bitartean.<br />
Erabili <i>Agiria</i> -> <i>Ireki jatorrizko azpidatzia (itzultzaile modua)</i> jatorrizko idatzia ere erakusteko.<br />
Aholkua: Erabili &lt;alt+gora/behera gezia&gt; aurreko/hurrengo azpidatzira joateko.<br />
<br />
<br />

<h3>Sortu modua</h3>
<img src="/Content/SubtitleEdit/EU/mode_create.png" alt="Create/adjust lines" /><br />
<br />
Hau azpidatzi lerroak hutsetik sortzeko edo dauden lerroak eskuz zehazteko tokia da.<br />
<br />
Azpidatzi lerroak hutsetik sortzeko, pausatu bideoa azpidatzi lerroa hasi behar den tokian eta sakatu "Txertatu azpidatzi berria bideo kokapenean". Orduan sartu idatzia - iraupena berez iradokitzen da. Orain sakatu "Irakurri idatziaren aurretik" botoia eta idatzia ez bada zehaz-mehatz hasten hizketa hasten denean, zehaztu "Hasiera denbora" gora/behera geziekin bat egin arte. Iraupena "Ezarri amaiera denbora" botoiarekin ezarri daiteke bideoa irakurtzen ari den bitartean edo "Iraupena" gora/behera geziak bidez.<br />
Azpidatzi bat uneko lerroaren aurretik txertatzeko, sakatu Txertatu botoia (zerrenda ikuspegia fokuturik dagoela).<br />
<br />
Baita ere eskuin klikatu dezakezu uhineran edo zerrenda ikuspegian txertatu/batu/banandu/ezabatu lerroak egiteko.<br />
<br />
<br />

<h3>Zehaztu modua</h3>
<img src="/Content/SubtitleEdit/EU/mode_adjust.png" alt="Adjust mode" /><br />
<br />
Hau dauden lerroak zehazteko tokia da.<br />
<br />
Azpidatzi lerroak banan-banan eskuz zehazteko goitik hasiz. Erabili "Ezarri hasiera eta orekatu gainontzekoa" (F9) eta "Ezarri amaiera eta joan hurrengora" (F10) botoiak.<br />
"Hasiera denbora" eta "Iraupena" azken ikutua gora/behera geziak erabiliz egin behar da.<br />
<br />
Baita ere eskuin klikatu dezakezu uhineran edo zerrenda ikuspegian txertatu/batu/banandu/ezabatu lerroak egiteko.<br />
<br />
<hr />
<br />

<h2><a id="waveform">Uhinera</a></h2>
Uhinera aginteak errazagoa egiten du hizketaren hasiera/amaiera zehatz ikustea.<br />
<img src="/Content/SubtitleEdit/EU/Waveform1.png" alt="Wave form" /><br />
<br />
<br />
Menuan eskuin klikatuz, azpidatziak banandu/batu/ezabatu ditzakezu.<br />
<img src="/Content/SubtitleEdit/EU/Waveform2.png" alt="Wave form - right click menu"/><br />
<br />
<br />
Esaldi berri bat sortzeko, hautatu eremu huts bat eta eskuin klikatu.<br />
<img src="/Content/SubtitleEdit/EU/Waveform3.png" alt="Wave form - new selection" /><br />
<br />

<h3>Uhinera sagu/tekla erabilera:</h3>
<ul>
	<li>Sagu klik bakarra: Joan kokapenera</li>
	<li>Sagu klik bikoitza dagoen azpidatzian: Hautatu klikaturiko azpidatzia</li>
	<li>Markatu erema + eskuin klikatu markaturiko eremuan: Galdetu gehitu esaldi berria / irakurri oraingo hautapena</li>
	<li>Sagua arrastatu azpidatziaren ezker/eskuin hertzean (zehaztu hasiera edo amaiera denbora)</li>
	<li>Mugitu/arrastatu azpidatziaren erdian (zehaztu biak hasiera eta amaiera denbora - baina ez iraupena)</li>
	<li>Sagu eskuin klikak azpidatzi berri bat gehitu dezake edo ezabatu/banandu/batu badagoen azpidatzi lerro bat</li>
	<li>Sagu gurpilak uhinera aurrera/atzera irristatzen du</li>
	<li>alt+ezker/eskuin geziak bideo kokapena mugitzen du</li>
	<li>alt+gora/behera gezia aurreko/hurrengo azpidatziara joateko</li>
	<li>Zenbaki +/- zomma handitu/gutxitu</li>
	<li>Sagu klik bakarra+Shift hautaturiko azpidatziaren hasiera ezarriko du (amaiera denbora mugitu gabe)</li>
	<li>Sagu klik bakarra+Ktrl hautaturiko azpidatziaren amiera ezarriko du (hasiera denbora mugitu gabe)</li>
	<li>Sagu klik bakarra+Alt hautaturiko azpidatziaren hasiera ezarriko du (eta iraupenari heutsi)</li>
	<li>Sagu klik bikoitza esaldi-gabean - aldatu irakurketa</li>
	<li><b>Sagu klik bakarra+Ktrl+Shift hautaturiko azpidatziaren hasiera ezarriko du + hautaturiko azpidatziaren ondorengo lerro guztiak orekatu (iraupenei heutsiz)</b></li>
</ul>

<br />
<h3>Uhin aterapena</h3>
Uhin datu aterapena <a href="http://www.videolan.org/">VLC multimedia irakurgailuak 2.x (edo 1.1.x/)</a> egiten du, eta uhin agiri oso txiki bat (lagineurri OSO apal batekin) sortu eta gordetzen da "Uhinera" agiritegian. VLC-k zerbaitegaitik huts egiten badu bideotik uhin agiria ateratzerakoan, uhin agiria beste tresna batekin atera dezakezu eta askatu uhin agiria uhinera agintean, honek uhin agiri txiki bat sortuko du (lagineurri OSO apal batekin) "Uhinera" agiritegian.<br />
<br />
Oharra: Ezin duzu uhinera bideo gabe erabili (wav agiria bakarrik baduzu eta ez bideoa, uhin agiria bideo bezala gertatu daiteke + askatu uhin agiria uhinera agintean).
<br />
<hr />
<br />


<br />
<h2><a id="export">Esportatu</a></h2>
Subtitle Editek "Gorde honela..." bidez idazki heuskarri ezberdin anitz gorde ditzake, baina azpidatzi bat heuskarri binarioan gordetzea nahi baduzu (pac edo 890 bezalakoak) edo irudi ohinarrikko heuskarri batean (png edo bluray sup bezalakoak) Agiria -> Esportatu erabili behar duzu.<br />
Azpidatzien etzana eta margoa bezalako estilo anitz gordetzen dira irudi ohinarriko heuskarrietan esportatzerakoan.<br />
<br />
<hr />
<br />


<h2><a id="sync">Aldiberetzea</a></h2>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/EU/SyncMenu.png" alt="Sync menu" />
		</td>
	</tr>
	<tr>
		<td>
			<br />
			Subtitle Editek bide anitz eskaintzen ditu azpidatziak aldiberetzeko.<br />
			<p>Zehaztu denbora guztiak (erakutsi lehenago/geroago): Hau erabilgarria da idatzi guztiak 3 segundu lehenago erakustea behar baduzu.</p>
			<p><a href="#visual_sync">Ikus aldiberetzea</a>: Aldiberetu hasier/amaiera agerraldia berdinduz (behean gehiago).</p>
			<p>Aldiberetze puntua: Honek aldiberetzea ahalbidetzen du 2 puntu edo gehiago erabiliz - aldiberetze puntu denbora kodeak
			eskuz sartu daitezke honek erabilterraza egiten duelarik jadanik aldibereturik dagoen beste azpidatzi baten denbora kodeak erabiltzea.</p>
			<p>Aldiberetze puntua beste azpidatzi baten bidez: Aldibereturik dagoen beste azpidatzi bat baduzu (adibidez beste hizkuntza batean - lagungarria da apur bat ulertu badezakezu) lehen lerroetako bat berdindu dezakezu, berdindu azken lerroetako bat, aldiberetu eta orduan lerro guztiak aldibereturik egon behar dute.</p>
			<p>Aldatu frame neurria: Honek erraza egiten du idatzi bat berdintzea frame neurri bat duen bideo batetik beste frame neurri bat duen bideo batera (ikus aldiberetzez edo aldiberetze puntuaz ere egin daiteke).</p>
		</td>
	</tr>
</table>
<br />
<br />
<br />


<h2><a id="visual_sync">Ikus aldiberetzea</a></h2>
<table>
	<tr>
		<td colspan="2">
			<img src="/Content/SubtitleEdit/EU/vissync.png" alt="Visual Sync controls" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/EU/help_vs2.png" alt="Synchronize button" />
		</td>
		<td>
			<br />
			Ikus aldiberetzea egitan bide erraza da azpidatzi bat bideo agiri batekin aldiberetzeko.<br />
			Berdindu lehen lerroetako bat hasierako agerraldiarekin. Orduan berdindu azpidatziaren azken
			lerroetako bat amaiera agerraldiarekin. Sakatu "Aldiberetu!" - eta eginda :)<br />
			Botoi lagungarri gutxi batzuk daude azpidatzia bideoan hasi behar den tokia bilatzen lagunduko dutenak
			(lehen hitza irtetzen den tokia). "Irakurri 1 seg eta atzera" botoia azterketa botoi bat da,
			hortaz oraingo kokapena egitan zuzena den erraz egiaztatu dezakezu. Egiaztatu ere <a href="#shortcuts">Lasterteklak</a>.<br />
			<br />
			Batzuetan ezinezkoa da azpidatzia aldiberetzea agerraldi bat edo gehiago ezabatu/gehitu direlako.
			Kasu hauetan azpidatzi zenbateko bat hautatu dezakezu azpidatziaren <a href="#listview">zerrenda ikuspegian</a>, eskuin
			klikatu eta hautatu <i>Ikus aldiberetu hautaturiko lerroak</i>. Honela azpidatzia zati txikiagotan zehaztu dezakezu.
		</td>
	</tr>
</table><br />
<br />
<hr />
<br />
<h2><a id="translation">Itzulpena (berez)</a></h2>
Subtitle Editek azpidatzia itzuli dezake <a href="http://www.google.com/translate">Google itzulpena</a> erabiliz
edo <a href="../mt">Multi Translator</a> (Suedieratik Danierara bakarrik).<br />
Googlek hizkuntza askoren arteko itzulpena egiten du! Nahiko ongi lan egiten du, baina itzulitako azpidatziek
oraindik eskuzko zuzenketa behar dute (aholkua: erabili leiho nagusiko <a href="#video_modes">itzulpen modua</a>).
<br />
<br />
<img src="/Content/SubtitleEdit/EU/help_googletranslate.png" alt="Create/add lines" /><br />
<br />
<hr />
<br />
<h2><a id="fixcommonerrors">Akats arrunt zuzenketa</a></h2>
<br />
<img src="/Content/SubtitleEdit/EU/help_fixcommonerrors1.png" alt="Fix common errors" /><br />
<br />
Azpidatzi batzuek akats pilo bat izaten dute (sarri azpidatzi hauek OCR softwarea erabiliz sortuak dira).<br />
"Tresnak -> Zuzendu akats arruntak" bide erraz bat eskaintzen du akats hauetako asko zuzentzeko.<br />
Lehen leihoak zuzentzeko ekintzen zerrenda bat erakusten du, klikatu zuzentzea nahi dituzunak eta klikatu "Hurrengoa".<br />
<br />
<br />
<img src="/Content/SubtitleEdit/EU/help_fixcommonerrors2.png" alt="Fix common errors" /><br />
<br />
Orain zer zuzenketa ezarri hautatu dezakezu. Berez lerro guztiak hautatzen dira, baina ezartzea nahi ez dituzun zuzenketak ezhautatu ditzakezu.<br />
Ohar hegatsak zuzenduko denaren gainikuspen bat ematen du - eta zer ezin den zuzendu.<br />
"Ezarri zuzenketak" botoiak zuzenketak ezartzen ditu.<br />
<br />
<hr />
<br />
<b><a id="spellcheck">Idaz-Egiaztapena</a></b>
<br />
<br />
Idaz-egiaztapena <a href="http://hunspell.sourceforge.net/">Hunspell</a> (Open/LibreOffice, Firefox, Chrome, eta Operak ere erabiltzen dutena) bidez egiten da.<br />
Ingelerazko hiztegia bakarrik dago barne, baina erraz bilatu ditzakezu hiztegi gehiago tresnabarra menuan <i>Idaz-egiaztapena</i> -> <i>Lortu hiztegiak...</i>!<br />
<a href="http://extensions.services.openoffice.org/en/dictionaries">Open Office 3.x hiztegiak</a> jeisten badituzu .oxt luzapenarekin, berrizandatu itzazu .zip, eta orduan despaketatu .dic agiria eta .aff agiria Subtitle Edit <i>Dictionary</i> agiritegira.<br />
<br />
Idaz-egiaztapenak leiho hau erakutsiko du hitz ezezagun bat aurkitzen duenean:<br />
<img src="/Content/SubtitleEdit/EU/spell_check.png" alt="spell check" /><br />
<b><i>Editatu idatzi osoa</i></b> idatzi osoa editatzea gaitzen du (eta ez uneko hitza bakarrik) - azpidatzi honetarako bakarrik.<br />
<b><i>Aldatu denak / Erabili betik</i></b> uneko hitza betik aldatuko du - baita hurrengo lanetan (OCR Zuzendu Ordeztu zerrendan gordeta - bota begirada bat Dictionaries/eng_OCRFixReplaceList.xml agiri honetaz gehiago jakiteko).<br />
<b><i>Aldatu / Erbili</i></b> uneko hitza oraingoan bakarrik aldatuko du.<br />
<b><i>Gehitu zerrenda/zarata zerrendara (hizki xehe-larriak)</i></b> izena edizio idaz-kutxan gogoratuko du uneko xehe-larriz - baita hurrengo lanetan.<br />
<b><i>Gehitu erabiltzaile zerrendara</i></b> hitza edizio idaz-kutxan gogoratuko du eta ez du berriro berataz galdetuko - baita hurrengo lanetan. Erabiltzaile hiztegiak ez ditu hizki xehe-larriak bereizten.<br />
<br />
"Hitza ez da aurkitu" taldekutxako botoi guztiak hitza erabiliko dute "Hitza ez da aurkitu" idazkutxan.<br />
<br />
<hr />
<br />
<h2><a id="importvobsub">Inportatu/OCR irudi ohinarriko azpidatziak - DVD Sub/idx edo Blu-ray sup bezalakoak</a></h2>
<br />
<br />
Blu-ray sup edo sub/idx (vobsub) bezalako irudi ohinarriko azpidatzi bat irekitzen baduzu leiho hau agertuko da:<br />
<br />
<img src="/Content/SubtitleEdit/EU/help_importvobsub.png" alt="Import/ocr image based subtitles" /><br />
<br />
<br />
Zerrenda ikuspegiak orain denbora-kodea besterik ez duten azpidatzi lerro hutsak ditu. Idatzia eskuz sartu dezakezu, baina bi (edo hiru MODI ezarrita baduzu) aukera hobeagoak daude:
<ul>
	<li>OCR Tesseract 3 bidez (gomendatua): <a href="http://code.google.com/p/tesseract-ocr/">Tesseract</a> iturburu irekiko OCR gailua da. <br />
		Hizkuntza gehigarri datu agiriak bilatu ditzakezu hemen: <a href="http://code.google.com/p/tesseract-ocr/downloads/list">Tesseract Google code project</a>. Tesseract hiztegi agiri hauek despaketatu egin behar dira [Subtitle Edit agiritegia]\Tesseract\tessdata.<br />
		<br />
		Zerrenda ikuspegian eskuin-klikatzen baduzu, aukera hauek dituen hitzinguru menu bat lortuko duzu:<br />
		<img src="/Content/SubtitleEdit/EU/ocr_context_menu.png" alt="OCR list view context menu" /><br />
		<b><i>Inportatu idatzia denbora-kode berdinekin...</i></b> lehenago sorturiko azpidatzi batekin lanean jarraitzeko erabili daiteke.<br />
		<b><i>Gorde azpidatzi irudia honela...</i></b> oraingo irudia pgn, gif, bmp, edo tiff bezala gordetzea ahalbidetzen du.<br />
		<b><i>Gorde irudi guztiak html aurkibidearekin</i></b> azpidatzi irudi guztiak html orrialde bezala erakusten ditu - irakurketa azterketa errazerako.<br />
		<br />

		OCR Tesseract bidez hobeto lan egingo du <a href="#spellcheck">idaz-egiaztapen</a> hiztegiak badituzu.<br />
		<img src="/Content/SubtitleEdit/EU/ocr_dictionary.png" alt="OCR dictionary" /><br />
		<b><i>Galdetu hitz ezezagunak</i></b> eta <b><i>Saiatu iradokitzen hitz ezezagunak</i></b> hiztegia eskuragarri badago bakarrik lan egingo du. <b><i>Zuzendu OCR akatsak</i></b> ere onura ateratzen du hiztegia badu.<br />
		<br />
		<b><i>Galdetu hitz ezezagunak</i></b> honela ikusiko da (leihoa ber-neurriragarria da):<br />
		<img src="/Content/SubtitleEdit/EU/ocr_spell_check.png" alt="OCR spell check" /><br />
		<b><i>Editatu idatzi osoa</i></b> idatzi osoa editatzea gaitzen du (eta ez uneko hitza bakarrik) - azpidatzi honetarako bakarrik.<br />
		<b><i>Aldatu denak / Erabili betik</i></b> uneko hitza betik aldatuko du - baita hurrengo lanetan (OCR Zuzendu Ordeztu zerrendan gordeta - bota begirada bat Dictionaries/eng_OCRFixReplaceList.xml agiri honetaz gehiago jakiteko).<br />
		<b><i>Aldatu / Erabili</i></b> uneko hitza oraingoan bakarrik aldatuko du.<br />
		<b><i>Gehitu zerrenda/zarata zerrendara (hizki xehe-larriak)</i></b> izena uneko hizki xehe-larriz gogoratuko du - baita hurrengo lanetan.<br />
		<b><i>Gehitu erabiltzaile zerrendara</i></b> hitza edizio idaz-kutxan gogoratuko du eta ez du berriro berataz galdetuko - baita hurrengo lanetan.<br />
		<br />
		<br />
	</li>
	<li>OCR irudi alderaketa bidez: Aukera honek ez behar hirugarren softwarerik ezarrita, baina
	erabiltzaileak irudi zatietan ohinarrituriko hizkiak eskuz sartzea behar du.<br />
		"Ez dago pixelik tartean" gutxitu egin  behar da itzulitako hitz guztiak ez badaude bananduta ("<i>ongigaude.</i>" bezala), eta handitua
		bananketa gehiegi badaude ("<i>on gi ga u d e.</i>" bezala).<br />
		Oharra: Ez du ongi lan egiten Blu-ray sup agiriekin!<br />
		<br />
	</li>
	<li>OCR MODI bidez: MODI <a href="http://en.wikipedia.org/wiki/Microsoft_Office_Document_Imaging">Microsoft Office Document Imaging</a> laburpena da. Hau Microsoft Office Tools-en barne dago ("Microsoft Office \ Microsoft Office Tools" agiritegia hasiera menuan).<br />
		Honek Tesseract-en oso antzera egiten du lan, baina MS Office behar du.<br />
		Microsoft Office ezarrita baduzu baina MODI OCR ez badago eskuragarri saiatu MS Office ezarpena berriro ekiten eta zihurtatu MODI hautaturik dagoela programaren ezarpenean.
		<br />
	</li>
</ul>
Hautatu OCR metodoetako bat eta klikatu "Hasi OCR" botoia.<br/>
Eginda duzunean klikatu "Ongi" eta gogoratu OCR azpidatzi batek zihurrenik zuzenketa behar duten akats batzuk izango dituela.<br />
VobSub azpidatzi batek hizkuntza bat baino gehiago badu, hizkuntza hautatzeko galdetuko zaizu.<br />
<br />
<hr />
<br />
<br />
<h2><a id="shortcuts">Lasterteklak</a></h2>
<br />
<table id="tableShortcuts">
    <thead>
        <tr>
            <th>Leihoa</th>
            <th>Agintea</th>
            <th>Lasterteklak</th>
            <th>Eginkizuna</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>F1</td>
            <td>Erakutsi laguntza agiri hau ;)</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Ktrl+F</td>
            <td>Ireki Bilatu elkarrizketa</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>F3</td>
            <td>Bilatu hurrengoa</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Ktrl+z</td>
            <td>Erakutsi historia/desegin</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Ktrl+G</td>
            <td>Joan azpidatzi zenbaki elkarrizketara</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Ktrl+L</td>
            <td>Azpidatzi zerrenda ikuspegian lehenik hautaturiko azpidatzi lerroa aurkitzen du (irriskapena)</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Alt+Gora gezia</td>
            <td>Joan lerro bat gora azpidatzi zerrenda ikuspegian</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Alt+Behera gezia</td>
            <td>Joan lerro bat behera azpidatzi zerrenda ikuspegian</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Ktrl+U</td>
            <td>Itzultzaile modua bai/ez</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Ktrl+Shift+U</td>
            <td>Aldatu oraingo azpidatzia jatorrizko azpidatziarekin</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Shift+Txertatu</td>
            <td>Txertatu lerroa hautaturiko lehen lerroaren aurretik</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Alt+Txertatu</td>
            <td>Txertatu lerroa hautaturiko lehen lerroaren ondoren</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>Azpidatzi idaz kutxa</td>
            <td>Ktrl+I</td>
            <td>Egin hautapena etzana</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>Azpidatzi zerrenda ikuspena</td>
            <td>Ktrl+A</td>
            <td>Hautatu lerro denak</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>Azpidatzi zerrenda ikuspena</td>
            <td>ktrl+D</td>
            <td>Hautatu bakarrik hauturiko lehen lerroa</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>Azpidatzi zerrenda ikuspena</td>
            <td>Ktrl+Shift+I</td>
            <td>Alderantzizkatu hautapena</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>Azpidatzi zerrenda ikuspena</td>
            <td>Ezabatu</td>
            <td>Ezabatu hautaturiko lerroak</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>Azpidatzi zerrenda ikuspena</td>
            <td>Txertatu</td>
            <td>Txertatu lerroa hautaturiko lehen lerroaren ondoren</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>*</td>
            <td>Ktrl+Shift+M (edo Ktrl+K)</td>
            <td>Batu hautaturiko lerroak</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Alt+Ezker gezia</td>
            <td>Joan 0,5 segundu atzera bideoan</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Alt+Eskuin gezia</td>
            <td>Joan 0,5 segundu aurrera bideoan</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Ktrl+Ezker gezia</td>
            <td>Joan 0,1 segundu atzera bideoan</td>
        </tr>
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Ktrl+Eskuin gezia</td>
            <td>Joan 0,1 segundu aurrera bideoan</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Ktrl+Alt+P</td>
            <td>Pausatu bideoa</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Ktrl+P</td>
            <td>Aldatu irakurri/pausatu bideoa</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>F4</td>
            <td>Aldatu oraingo esaldiaren kokapena amaiera/hasiera artean</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>F5</td>
            <td>Irakurri oraingo esaldia eta gelditu ondoren</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>F6</td>
            <td>Joan oraingo esaldiaren hasiera kokapenera</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>F7</td>
            <td>Joan 3 segundu atzera</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>F8</td>
            <td>Aldatu irakurri/pausatu</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>F9-F12</td>
            <td>Moduaren arabera (itzuli/sortu/zehaztu</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Alt+1</td>
            <td>Joan oraingo esaldiaren hasiera kokapena</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Alt+2</td>
            <td>Joan oraingo esaldiaren amaiera kokapena</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Alt+3</td>
            <td>Joan aurreko esaldira</td>
        </tr>            
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera</td>
            <td>Alt+4</td>
            <td>Joan hurrengo esaldira</td>
        </tr>     
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera - Zehaztu modua</td>
            <td>Ktrl+Tartea</td>
            <td>Ezarri hasiera eta orekatu gainontzekoa</td>
        </tr>     
        <tr>
            <td>Nagusia</td>
            <td>bideo irakurgailua/uhinera - Zehaztu modua</td>
            <td>Shift+Tartea</td>
            <td>Ezarri amaiera eta joan hurrengora</td>
        </tr>     
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>

            <td>Uztargabetu bideo irakurgailua</td>
            <td>-</td>
            <td>Alt+A</td>
            <td>Birneurritu bideo ikuspegi maila 1:1 izateko</td>
        </tr>
        <tr>

            <td>Uztargebetu bideo irakurgailua</td>
            <td>-</td>
            <td>Alt+Sartu</td>
            <td>Aldatu leihoa handien/arrunt artean</td>
        </tr>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <td>OCR bidezko irudi alderaketa - Irudia idatzira eskuz</td>
            <td>-</td>
            <td>Alt+Eskuin gezia</td>
            <td>Hedatu hautapena</td>
        </tr>
        <tr>
            <td>OCR bidezko irudi alderaketa - Irudia idatzira eskuz</td>
            <td>-</td>
            <td>Alt+Ezker gezia</td>
            <td>Hautapen murriztua</td>
        </tr>
        <tr>
            <td>OCR bidezko irudi alderaketa - Irudia idatzira eskuz</td>
            <td>-</td>
            <td>Alt+i (itzulpenaren arabera)</td>
            <td>Aldatu etzana</td>
        </tr>
        <tr>
            <td>OCR bidezko irudi alderaketa - Irudia idatzira eskuz</td>
            <td>-</td>
            <td>Alt+f (itzulpenaren arabera)</td>
            <td>Aldatu berez-aurkezpena (berezgaitasunez jarraitu sakaturiko lehen hizkiaren ondoren)</td>
        </tr>
    </tbody>
</table>        
<br />
<br />
Oharra - lastertekla asko itxuratu daitezke hemen: <i>Aukerak -> Ezarpenak -> Lasterteklak</i> (jakinarazi diezadazu gehiago behar baduzu):<br />
<br />
<img src="/Content/SubtitleEdit/EU/shortcuts.png" alt="Configurable shortcuts" /><br />
<br />
<br />
<br />
<hr />
<br />
<br />

<h2><a id="translate">Itzuli Subtitle Edit beste hizkuntza batera</a></h2>
<br />
Subtitle Edit itzultzeko lehenik jeitsi <a href="/Content/SubtitleEdit/Language.xml">Ingelerazko xml hizkuntza agiria</a> eta gorde zure
"Subtitle Edit\Languages" agiritegian. Itzuli etiketa guztien edukia xml editatzaile batean edo notepad-ekin.
<a href="/XmlContentTranslator">Xml Eduki Itzultzailea</a> ere erabili dezakezu!<br />
Gorde editaturiko zure xml agiria honela 'KulturaIzena'.xml ('KulturaIzena' <a href="http://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo%28v=vs.80%29.aspx">badagoen kultura izen bat</a> izan behar da - eta baita etiketa bat xml agirian) SubtitleEdit\Languages agiritegian.<br /> Orain Aukerak > Hautatu hizkuntza, hegatsean
zure itzulpena aztertu dezakezu zure hizkuntza hautatuz hizkuntza bezala.<br />
Mesedez bidali itzulpena niri, horrela Subtitle Edit-en barneratuko dut - Mila esker :)<br />
Aholkua: <a href="http://winmerge.org">WinMerge </a> tresna bikaina da agiriak alderatzeko.<br />
<br />
Ezartzailea <a href="http://subtitleedit.googlecode.com/svn/trunk/installer/Custom_Messages.iss">agiri hau</a> itzuliz herrialdetu daiteke.
<br />
<br />
<hr />
<br />


<h2><a id="networking">Sarea - online elkarlaguntza</a></h2>
<br />
Zuk eta zenbait lagunek azpidatzi bera aldiberean itzultzea nahi baduzue internet bidez, saiatu "Sarea" ezaugarriarekin.<br />
Lehenik gertatu itzultzea nahi duzun azpidatzia (eta aukeran jatorrizko azpidatzia). Orduan hautatu "Hasi saio berri bat" "Sarea" menuan:<br />
<br />
<img src="/Content/SubtitleEdit/EU/NetworkingStart.png" alt="Start network session" />
<br />
<br />
"Saio giltza" zure azpidatziaren id-a da (zuk nahi duzun idazkia izan daiteke) - besteek hau behar dute zure saiora batu ahal izateko (menuko Sarea -> Batu saiora) bidez.<br />
"Erabiltzaile izena" erakutsiko da lerroak eguneratu/txertatu/ezabatutakoan eta txat leihoan.<br />
"Webzerbitzu url-a"-k zerbitzari programa hostalari txiki batean jartzen du (Hasieran hau zuzeneko p2p bidez garatu nuen, baina webzerbitzua erabiltzea erabaki nuen ordez, horrela askoz hobeto egiten du lan suhesiak bezalako gauzekin). <a href="/Content/SubtitleEdit/SENetworkingService.zip">Webzerbitzu honen iturburu kodea eskuragarri dago</a> eta oso erraza izan beharko litzake zure zerbitzaria erabiltzea sare saioak hostatzeko.<br />
<br />
<br />
Subtitle Edit-ek behean erakusten den moduan egiten du lan sarean. "Erabiltzailea/ekintza" zutabean zerrenda ikuspegian itzulpenaren garapena jarraitu dezakezu - honek sinergia eraginen bat bizitu dezake!<br />
<br />
<img src="/Content/SubtitleEdit/EU/networking.jpg" alt="Subtitle Edit running in networking mode" />
<br />
<br />
<hr />
<br />


<h2><a id="codecs">Bideo irakurgailua eta kodekak</a></h2>
<br />
Subtitle Editek VLC multimedia irakurgailua erabili dezake Subtitle Edit barnean DirectShow ordez - joan <i>Aukerak -> Ezarpenak -> Bideo irakurgailua</i>. VLC aukera ez badago eskuragarri, zihurrenik VLC 2.x edo 1.1.x bertsioa ezarri beharko duzu!<br />
Beste bideo aukera erabilgarri bat <a href="http://www.mplayer2.org/">mplayer2</a> da. Gorde "mplayer.exe" zure Subtitle Edit agiritegian eta Subtitle Editen joan <i>Aukerak -> Ezarpenak -> Bideo irakurgailua</i>-ra eta hautatu "MPlayer".<br />
Oharra: VLC eta MPlayer beren kodekekin datoz, hortaz ez duzu <a href="http://code.google.com/p/lavfilters/">LAV Iragazkiak</a> edo ffdshow/Hali Matroska Banantzailea ezarri beharrik.<br />
<br />
<img src="/Content/SubtitleEdit/EU/OptionsVideoPlayer.png" alt="Choose video player" />
<br />
<br />
Sarri DirectShow bideo irakurgailu arazoak Subtitle Editen kodek gaitz/gatazkatsu/galdu/zaharrek eraginak dira(Kodek paketeak DEABRUA dira!).<br/>
Akatsa horrelako zerbait izan daiteke: System.Runtime.InteropServices.InvalidComObjectException eta aipatu dezake QuartzTypeLib/QuartzPlayer.<br />
<br />
Nire gomendioa kodek pakete denak kentzea da (K-lite barne), berrabiarazi eta orduan ezarri <a href="http://code.google.com/p/lavfilters/">LAV Iragazkiak - DirectShow Multimedia Banantzailea eta Dekodeatzaileak</a> <br />
Ohartu Subtitle Edit 32-biteko aplikazioa dela (64-biteko bertsio bereizi bat aurkitu ez baduzu) eta hortaz 32-biteko kodekak behar ditu - baita 64-biteko win7/8-an<br />
<br />
Arazoak badituzu heuskarri/agiri bereizi batekin saiatu honekin: <a href="http://mediaarea.net/MediaInfo">MediaInfo</a> / <a href="http://www.headbands.com/gspot/">GSpot</a>.<br /><br />
<br />
<hr />

<h2><a id="commandline">SE komando lerro bihurketa</a></h2>
<br />
Subtitle Edit-ek (3.2) agindu lerro bihurketa egin dezake leiho nagusiko hedagarri zerrendako heuskarrien artean.<br />
<br />
Joskera: SubtitleEdit /convert "eredua" "heuskarriaren-izena-tarterik-gabe" [/kodeaketa:?] [/fs-ko:?] [/irteera-agiritegia:?]:<br />
<br />
 1 Adibidea: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert sub1.srt sami</div> Emaitza: sub1.srt --> sub1.sub --> SAMI heuskarrira bihurtuko du<br />
<br />
 2 Adibidea: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert *.srt adobeencore</div> Emaitza: .srt agiri guztiak Adobe Encore heuskarrira bihurtuko ditu<br />
<br />
 3 Adibidea: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert *.srt adobeencore /encoding:windows-1252</div> Emaitza: Gainekoa bezala baina windows-1252 agiri kodeaketa erabiliz (ikusi <a href="http://msdn.microsoft.com/en-us/library/system.text.encodinginfo.getencoding.aspx">Info.Name zerrenda</a> kodeaketa gehiagorako)<br />
<br />
 4 Adibidea: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert a.sub subrip /fps:25</div> Emaitza: Frame ohinarriko a.sub denbora ohinarriko a.srt bihurtzen ditu 25-eko frame neurriaren bidez<br />
<br />
 5 Adibidea: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert a.sub subrip /outputfolder:C:\Temp</div> Emaitza: a.sub --> C:\Temp\a.srt bihurtzen ditu<br />
<br />
 Sostengaturiko heuskarri zerrenda ikusteko: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert /list</div> Emaitza: Agindu lerro bihurketan sostengaturiko 100 heuskarri baino gehiago erakusten ditu!<br />
<br />
<br />
<hr />

<h2><a id="portable">Bertsio eramangarria eta VLC</a></h2>
<br />
Bertsio eramangarria VLC-rekin erabiltzeko, jeitsi VLC eramangarria (gutxienez 1.1.0 bertsioa, azken bertsioa hemen: <a href="http://sourceforge.net/projects/azpidatziak.u/files/Euskarazko%20VLC-2.0.8%20%28EUS_XA%29%20Egonkor%20Eramangarria%20%28Programa%20Osorik%29.zip/download"> vlc 2.0.x</a> (Zip) eta despaketatu "VLC" deituriko agiritegi batera SubtitlEdit zuzenbidean.

<br />
<br />
<hr />

<h2><a id="plugins">Egin zeure plugina</a></h2>
<br />
C# edo VB.net kodeatu badezakezu zeure pluginak egin ditzakezu SE-rentzat (SE 3.3 eta berriagoak).<br />
<br />
<a href="/Content/SubtitleEdit/PluginSource.zip">Bi erakus plugin jeitsi ditzakezu hemen</a>.<br />
"Haxor" adibide oso oso ohinarrizkoa da.<br />
"Fix Hyphens" adibide osoago bat da forma batekin eta zenbait ohinarrizko klaseekin.<br />
Oraingoz pluginak hemen erabili daitezke: Agiria, Tresnak, Aldiberetzea, Itzulpena eta Idaz-egiaztapena.<br />
<br />
<br />
<hr />

<h2><a id="compile">Subtitle Edit bilketa</a></h2>
<br />
Subtitle Edit-en zeure bertsioa biltzea osoa erraza da!<br />
<br />
Ez badizu MS Visual Studio, orduan besterik gabe jeitsi eta ezarri <a href="http://www.microsoft.com/express/vcsharp/">MS Visual C# Express</a>.
Orduan jeitsi Subtitle Edit-en iturburu kodea eta ireki "SubtitleEdit.csproj" agiria. Sakatu F5 - eta eginda :)<br />
Orain nahi dituzun ezaugarriak aldatu/gehitu ditzakezu edo nire akatsak zuzendu - bakarren bat badago ;)
<br />
<br />
<hr />


<h2><a id="issues">Arazo ezagunak</a></h2>
<br />
Subtitle Editek arazo ezagun gutxi batzuk ditu!<br />
<br />
<table id="tableKnownIssues">
	<thead>
		<tr>
            <th>Arazoa</th>
            <th>Konponbidea</hd>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Matxura irakurtzerakoan/gertatzerakoan/bideoa erakusterakoan K-Lite ezarrita dagoela</td>
			<td>Kendu K-lite eta ezarri <a href="http://code.google.com/p/lavfilters/">LAV Iragazkiak - DirectShow Multimedia Banantzailea eta Dekodeatzaileka</a><br />
	<small>Ohartu Subtitle Edit 32-biteko aplikazioa dela (64-biteko bertsio bereizi bat aurkitu ez baduzu) eta hortaz 32-biteko kodekak behar ditu - baita 64-biteko win7/8-an</small>
	<br /><br />Beste aukera bat bideo irakurgailua VLC-ra aldatzea da Subtitle Editen, Aukerak->Ezarpenak: Bideo irakurgailua erabiliz!</td>
		</tr>
		<tr>
			<td>Arazoak unicode hizkiekin (WinXp)</td>
			<td>
				Erabili Lucida Sans Unicode/Times New Roman hizkiak - edo eguneratu zure xp Windows 7 edo 8-ra (Vistak ere XP-ak baino hobeto egiten du lan hemen - baita 2014-ko Apirilak 8-tik aurrera inork ez du XP erabili behar MS-ek eguneraketa/eranskin guztiak geldiarazten dituenez)<br />
				Erabili dezakezu ere, Agiria -> Inportatu azpidatziak eskuzko kodeaketa hautapenarekin.
			</td>
		</tr>
		<tr>
			<td>Idaz egiaztapen (NHunspell) matxura</td>
			<td>Idaz egiaztatzeilea aldatu dezakezu Aukeratan MS Word erabiltzeko!</td>
		</tr>
		<tr>
			<td>Subtitle Edit-ek huts egiten du sare gidagailu batetik ekiterakoan ("Argitaratzailea ezin da egiaztatu")</td>
			<td>Ez baduzu nahikoa sarbiderik Subtitle Edit sare gidagailu batetik ekiteko, kopiatu zure tokiko diska gogorrera edo lortu beharrezko sarbide baimena.</td>
		</tr>
		<tr>
			<td>Subtitle Edit eramangarriak ez du ongi lan egiten "Programa agiriak" agiritegian</td>
			<td>Erabili ezartzailea Subtitle Edit "Programa agiriak"-an edukitzea nahi baduzu (kendu bertsio eramangarria aurretik)</td>
		</tr>
		<tr>
			<td>Subtitle Editek ez du VLC atzematen aukeratan (hautaezina dago)</td>
			<td>VLC 2.x behar duzu - eta 32-biteko bertsioa izan behar da (baita zeure Subtitle Edit 64-biteko bertsioa bilduta baduzu ere)</td>
		</tr>
	</tbody>
</table>
<br />
<br />
<hr />

<br />
<br />
<br />
<br />
Ez duzu bilatzen duzuna aurkitzen? Sentitu aske <a href="mailto:nikse.dk@gmail.com">post@mezu bidaltzeko niri</a>.<br />
<br />
<br />
<br />
<br />
<br />