@{
	ViewBag.Title = "Subtitle Edit 3.3 Help";
	ViewBag.Footer = "hOpe iT HelpZ";
	ViewBag.MetaKeywords = "Subtitle Edit help, subtitle tutorial, FAQ, how to synchronize";
	ViewBag.MetaDescription = "Subtitle Edit help page";
    ViewBag.FavIcon = "/favicon.ico";
}
<h1>@ViewBag.Title</h1>
<hr />
<br />
<div style="text-align:right">Help is also available in <a href="/SubtitleEdit/HelpEU">Basque</a> | <a href="/SubtitleEdit/HelpEs">Spanish</a> | <a href="/Content/SubtitleEdit/Help/RU">Russian</a></div>
<h2>Mini FAQ</h2>
Q: When I try to open a video in format x, SE cannot play video or there's no sound. What do I do?<br />
A: If you use Direct Show as video player be sure to use <a href="#codecs">the correct codecs</a>. I recommend uninstalling codec packs like k-lite and only installing <a href="http://code.google.com/p/lavfilters/downloads/list">LAV filters</a> 32-bit (+64-bit if you want). Another option is to use VLC as video player.<br />
<br />
Q: Where is the delay tool?<br />
A: Use <b>Show earlier/later</b> in the <b>Synchronization</b> menu. Shortcut is <b>Ctrl+Shift+A</b>. It's a tool window, so you can keep it open while working - or checking subtitle preview in video player.<br />
<br />
Q: Why can't Subtitle Edit change frame rate?<br />
A: Well, it can. Check <b>Synchronization -> Change frame rate</b>.<br />
<br />
Q: Why can't Subtitle Edit split/append subtitles?<br />
A: Try <b>Tools -> Split/append</b>.<br />
<br />
Q: Can Subtitle Edit offset times - but not from the very beginning?<br />
A: Yes, you can work with a selection of subtitle lines. Select the lines
in the list view you want to work on (hint: click on the first line,
then shift+click on the last) and
then right-click in the list view (context menu) - now you can adjust
the selected lines in "visual sync selected lines" or just "show
selected lines earlier/later".<br />
<br />
Q: Can Subtitle Edit play video fullscreen?<br />
A: Yes, press ALT+ENTER. Use space for play/pause and ALT+ARROW UP/DOWN for next/previous subtitle.<br />
<br />
Q: When translating/editing subtitles, can Subtitle Edit navigate quickly to next line?<br />
A: Yes, press ALT+ARROW UP/DOWN for next previous subtitle - also textbox will keep focus.<br />
<br />
Q: Can Subtitle Edit add the subtitles to the video file?<br />
A: No, Subtitle Edit cannot do this - but one or more of the 100+ output formats should work. Use either <i>File</i> -> <i>Save as...</i> for text based formats or <i>File</i> -> <i>Export...</i> for binary/image-based formats.<br />
There are two ways of adding subtitles into the video file - hardcoding (cannot be turned off ever, so this <i>might</i> be a bad idea) or embedding (only for some formats like mkv, mp4).<br />
Read more about <a href="AddSubtitlesToVideo">adding subtitles to video</a>.
<br />
<br />
<hr />
<br />
<h2>Help index</h2>
<div style="margin-left: 25px; line-height: 25px;">
	<a href="#main">Subtitle Edit main window</a><br />
	<a href="#main_resize">Subtitle Edit main window - resize/un-dock</a><br />
	<a href="#main_edit_original">Subtitle Edit main window - edit original</a><br />
	<a href="#video_modes">Video/wave form modes</a><br />
	<a href="#waveform">Wave form</a><br />
	<a href="#export">Export</a><br />
	<a href="#sync">Synchronization</a><br />
	<a href="#visual_sync">Visual sync</a><br />
	<a href="#translation">Translation (auto)</a><br />
	<a href="#fixcommonerrors">Fix common errors</a><br />
	<a href="#spellcheck">Spell check</a><br />
	<a href="#importvobsub">Import/OCR image based subtitles - like DVD Sub/idx or Blu-ray sup</a><br />
	<a href="#shortcuts">Shortcuts</a><br />
	<a href="#translate">Translating Subtitle Edit to another language</a><br />
	<a href="#networking">Networking - online collaboration</a><br />
	<a href="#codecs">Video player and codecs</a><br />
	<a href="#commandline">Command line conversion</a><br />
	<a href="#portable">Portable version and VLC</a><br />
	<a href="#plugins">Make your own plugin</a><br />
	<a href="#compile">Compiling Subtitle Edit</a><br />
	<a href="#issues">Known issues</a><br />
</div>
<br />
<hr />
<br />
<h2><a id="main">Subtitle Edit main window</a></h2>

<br />
<h3>Menu in main window</h3>
In the menu you can find many tools like change casing, split, append, spell check, synchronization, change frame rate, Google translate, find, replace, remove text for hearing impaired, and much more!<br />
You can import subtitles from DVD, vobsub, Blu-ray sup - even vobsub inside Matroska files can be imported.<br />
<br />
<img src="/Content/SubtitleEdit/main_menu.png" alt="Menu" /><br />
<br />
<small>NOTE: Many tools are also available via right click in the list view.</small>
<br />
<br />
<br />

<br />
<h3><a id="formats">Subtitle/file formats</a></h3>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/FormatAndEncoding.png" alt="Subtitle format" />
			<br />
			<br />
			In the top menu you can choose format and encoding. The first dropdown list shows subtitle formats. SubRip (extension is ".srt") is
			the most widely used format today, so it is recommended to save subtitles in this format.<br />
			Originally SubRip was a text only format, but in recent years html tags have been common. Especially the
			italic and font tags are widely used. For a list of SubRip support in players <a href="http://ale5000.altervista.org/subtitles.htm">check this out</a>.<br />
			<br />
			File encoding is auto detected in most cases. ANSI is the old, formerly the most common found format, but it requires your
			system to have a specific culture setting. UTF-8 is recommended for new subtitles, as it can handle non English
			letters better than ANSI (UTF-8 subtitles will work on all computers no matter what culture settings a computer has), and can display other
			symbols like music nodes. The only drawback of using UTF-8 is, that some older programs do not support UFT-8 and WinXP only has a few semi-unicode fonts (Lucida Sans Unicode, Time New Roman, Courier New).<br />
			If you have an ANSI file in another language than the current culture/language (or you have an invalid UTF/Unicode file) then you can use the menu
			item: <i>File</i> -> <i>Import subtitle with manual chosen encoding</i>.<br />
			<br />
			<i>Import subtitle with manual chosen encoding</i> with preview:<br />
			<img src="/Content/SubtitleEdit/ChooseEncoding.gif" alt="ChooseEncoding" />
		</td>
	</tr>
</table>
<br />
<br />

<h3>Frame rate</h3>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/help_framerate.png" alt="Frame rate" /><br />
			<br />
			Frame rate is no longer displayed by default, but you can enable it via the menu <i>Options</i> -> <i>Settings: Toolbar: Show frame rate in toolbar</i>.<br />
			Frame rate is used when converting between subtitle formats based on frames and formats based on time.
			SubRip is based on time. MicroDvd (widely used 7-9 years ago, and still widely used in some countries) is based on frames.<br />
			Subtitles based on time is preferred as videos may not have a constant frame rate - which makes
			working with subtitles based on frames not very flexible at all.<br />
			To change the frame rate use  <i>Synchronization</i> -> <i>Change frame rate</i> - or use one of the other <a href="#sync">synchronizations tools</a>.
		</td>
	</tr>
</table>
<br />
<br />

<h3>Subtitle view - List view or source view</h3>
<p>There are two ways of looking at a subtitle - list view or source view.</p>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/help_sourceview.png" alt="Source view" />
		</td>
		<td>
			This is how the subtitle file actually looks - different for all formats.<br />
			You can edit text and time codes here, but be careful - it's also easy to mess things
			up.<br />
			You can make Subtitle Edit start in Source view under Settings.
		</td>
	</tr>
</table>
<br />
<table>
	<tr>
		<td colspan="2">
			<a id="listview"><img src="/Content/SubtitleEdit/help_listview.png" alt="List view" /></a>
		</td>
	</tr>
	<tr>
		<td>
			The list view gives an excellent overview of the subtitle - the same for all formats.<br />
			You can edit text and time codes here, delete and insert lines easily.<br />
			<br />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			It is also possible to select several lines and use tools like <i>Google translate</i> or
			<i>Visual sync</i> on the selected lines.<br />
			<br />
			<a id="listview2"><img src="/Content/SubtitleEdit/help_listview2.png" alt="Listview" /></a>
		</td>
	</tr>
		<td colspan="2">
			<br />
			<br />
			<h3>TextBox</h3>
			<p>Above the textbox where you can type the actual subtitle is a label called "Char/sec".
			If it's higher than 25 it will be colored orange/red.<br />
			<br />
			</p>
			<img src="/Content/SubtitleEdit/TextBox.png" alt="search" /><br />
			<br />
			Below the textbox is a label called "Single line length". First line is 33 characters and second line is 75 characters.
			The color referrers to how long current line is compared to Settings -> Options : General : Single line max length
			(43 is default). Red means too long, orange means it's close to max.
			<br />
			<br />
		</td>
	<tr>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			<br />
			<h3>Show video and/or waveform/spectrogram</h3>
			<br />
			<a id="main_resize">The main window can show video and/or wave form.</a> Video controls can even be un-docked - nice if you have two monitors!<br />
			The horizontal/vertical red lines shows where you can resize inside the main window (via splitters).<br />
			<br />
			<img src="/Content/SubtitleEdit/main_video1.png" alt="Main window - with video/waveform" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			<br />
			<a id="main_edit_original">It's now possible to edit both new translation and original subtitle at the same time.</a> Default, the original is read-only, but you can change that in Options -> Settings:General:Allow edit of original subtitle.<br />
			Shortcuts: <b>Ctrl+U</b> will toggle original subtitle. <b>Ctrl+Shift+U</b> will switch translated / original subtitle.<br />
			When editing both original and translated subtitle, changing start time/duration/deleting/inserting will affect both subtitles!<br />
			<br />
			<img src="/Content/SubtitleEdit/main_edit_original.jpg" alt="Main window - with video/waveform" />
		</td>
	</tr>
</table>

<br />
<br />
<h3>Search</h3>
<p>You can search by pressing Ctrl+F (F3 is find next). Regular expression search is available for nerds ;)</p>
<img src="/Content/SubtitleEdit/help_search.png" alt="search" /><br />
<br />
<hr />
<br />

<br />
<br />
<h3><a id="multiple_replace">Multiple Replace</a></h3>
<p>In <i>Edit -> Multiple replace</i> you can create your own rules for fixing a subtitle - even advanced rules using <a href="http://en.wikipedia.org/wiki/Regular_expression">regular expressions</a>!</p>
<p>When writing regular expressions grouping and backreferences are very useful. Parts of a regular expression inside parentheses are groups and can be referenced in the replace string where $1 is a reference to the first group and $2 is a reference to the second and so on.<br />
<div style="padding-left:15px">
Example 1:  <b>^J( .+)</b> + replace string <b>♪ $1</b> - only the starting "J" will be replaced, so if the text is "J Music Playing J" it will become "♪ Music Playing J"<br />
Example 2:  <b>([a-z]+)([0-9]+)</b>  + replace string <b>$2$1</b> - two groupings that will be switched, so if the text is "number26" it will become "26number".<br />
</div>
</p>
<img src="/Content/SubtitleEdit/main_edit_multiple_replace.png" alt="Multiple replace" /><br />
<br />
<hr />
<br />

<h2><a id="video_modes">Video/wave form modes</a></h2>
<br />
When using video and/or wave form three different modes (tabs) are available: Translate, Create, and Adjust.

<h3>Translate mode</h3>
<img src="/Content/SubtitleEdit/mode_translate.png" alt="Translate mode" /><br />
<br />
In translate mode you can translate a subtitle from one language to another manually (or correct a machine
translated subtitle) while watching the video - and hearing the audio.<br />
If "Auto repeat" is on, then the subtitle will be repeated x-times while you are typing in the correct text.<br />
Use <i>File</i> -> <i>Open original subtitle (translator mode)</i> to also display the original text.<br />
Hint: Do use the &lt;alt+arrow up/down&gt; for going to previous/next subtitle.<br />
<br />
<br />

<h3>Create mode</h3>
<img src="/Content/SubtitleEdit/mode_create.png" alt="Create/adjust lines" /><br />
<br />
This is the place to create subtitle lines from scratch or manually adjust existing lines.<br />
<br />
To create subtitle lines from scratch, pause the video file where the subtitle line should start and press the button
"Insert new subtitle at video pos". Then enter the text - duration is auto suggested. Now press the button "Play from
just before text" and if the text does not start exactly when the speech starts, then adjust "Start time" via the up/down
arrows until it does. The duration can be set via the button "Set end time" while the video is playing or via the "Duration up/down arrows.<br />
To insert a subtitle right after the current line, press the Insert button (while the list view is focused).<br />
<br />
You can also right click on the audio wave form or in the list view to insert/merge/split/delete lines.<br />
<br />
<br />

<h3>Adjust mode</h3>
<img src="/Content/SubtitleEdit/mode_adjust.png" alt="Adjust mode" /><br />
<br />
This is the place to adjust existing lines.<br />
<br />
To adjust subtitle lines manually one by one starting from the top. Use the buttons "Set start and offset the rest" (F9) and "Set end &amp; go to next" (F10).
Fine-tuning of "Start time" and "Duration" should be done by using the up/down arrows.<br />
<br />
You can also right click on the audio wave form or in the list view to insert/merge/split/delete lines.<br />
<br />
<hr />
<br />

<h2><a id="waveform">Wave form</a></h2>
The wave form control makes it easy to see exactly where speech start/end.<br />
<img src="/Content/SubtitleEdit/Waveform1.png" alt="Wave form" /><br />
<br />
<br />
With the right click menu, you can split/merge/delete subtitles.<br />
<img src="/Content/SubtitleEdit/Waveform2.png" alt="Wave form - right click menu"/><br />
<br />
<br />
To create a new paragraph, just select an empty area and right click.<br />
<img src="/Content/SubtitleEdit/Waveform3.png" alt="Wave form - new selection" /><br />
<br />

<h3>Wave form mouse/keys usage:</h3>
<ul>
	<li>Mouse single click: Go to position</li>
	<li>Mouse double click on existing subtitle: Select clicked subtitle</li>
	<li>Mark area + right click on marked area: Prompt for add new paragraph / play current selection</li>
	<li>Mouse drag left/right border of subtitles (adjusting start or end time)</li>
	<li>Move/drag on middle of subtitle (adjusting both start and end time - but not duration)</li>
	<li>Mouse right click can either add new subtitle or perform delete/split/merge on existing subtitle line</li>
	<li>Mouse wheel scrolls waveform forward/back</li>
	<li>alt+arrow left/right moves video position</li>
	<li>alt+arrow up/down goes previous/next subtitle</li>
	<li>Numeric +/- will zoom in/out</li>
	<li>Mouse single click+Shift will set start for selected line (not moving end time)</li>
	<li>Mouse single click+Ctrl will set end for selected line (not moving start time)</li>
	<li>Mouse single click+Alt will set start for selected line (and keep duration)</li>
	<li>Mouse double click on non-paragraph - toggle play</li>
	<li><b>Mouse single click+Ctrl+Shift will set of start selected line + offset all lines after selected line (keeping durations)</b></li>
	<li>Holding down ALT when moving start/end will move nearest subtitle start/end too if it's closer than 500 milliseconds - <a href="/Content/SubtitleEdit/WaveformMoveNextPrev.gif">like this.</a></li>
</ul>

<br />
<h3>Wave extraction</h3>
The extracting of wave data is done by <a href="http://www.videolan.org/">VLC media player 2.x (or 1.1.x/)</a>, and then a very small wave file (with a VERY low samplerate) is generated
and saved in the "WaveForms" folder. If VLC for some reason fails to extract a wave file from the video, you can extract the wave file with some other tool and drop
that wave file on the waveform control, which will generate a small wave file (with a VERY low samplerate) in the "WaveForms" folder.<br />
<br />
Note: You cannot use waveform without the video (if you only have a wav file and no video, it is possible to load the wave file as video file + drop the wave file on the waveform control).
<br />
<hr />
<br />


<br />
<h2><a id="export">Export</a></h2>
Subtitle Edit can save via "Save as..." in many different text formats, but if you want to save a subtitle in a binary format (like pac or 890) or an image based format (like png or bluray sup) you must use File -> Export.<br />
Many styles like italic and color from subtitles are preserved when exporting to image based formats.<br />
<br />
<hr />
<br />


<h2><a id="sync">Synchronization</a></h2>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/SyncMenu.png" alt="Sync menu" />
		</td>
	</tr>
	<tr>
		<td>
			<br />
			Subtitle Edit offers several ways to synchronize subtitles.<br />
			<p>Adjust all times (show earlier/later): This is useful if you for example need to show all texts 3 seconds earlier.</p>
			<p><a href="#visual_sync">Visual sync</a>: Sync by matching start/end scene (more below).</p>
			<p>Point sync: This allows synchronization by using 2 or more points - sync point time
			codes can be entered manually which makes it easy to use time codes from another subtitle already in sync.</p>
			<p>Point sync via other subtitle: If you have another subtitle in sync (perhaps in another language - it helps if you can understand it a bit) you can match one of
			the first lines, match one of the last lines, sync, and then all lines should be in sync.</p>
			<p>Change frame rate: This makes it easy to match text from a video with one frame rate to a video with another frame rate (can also be done by visual sync or point sync).</p>
		</td>
	</tr>
</table>
<br />
<br />
<br />


<h2><a id="visual_sync">Visual sync</a></h2>
<table>
	<tr>
		<td colspan="2">
			<img src="/Content/SubtitleEdit/vissync.gif" alt="Visual Sync controls" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/help_vs2.png" alt="Synchronize button" />
		</td>
		<td>
			<br />
			Visual sync is a really easy way to synchronize a subtitle with a video file.<br />
			Match one of the first subtitle lines with the start scene. Then match one of the
			last subtitle lines with the end scene. Press "Sync!" - and that's it :)<br />
			There are a few helper buttons which will help find the right place in the video where the
			subtitle should start (just about where the first word comes out). The "Play 1 sec and back" button is a test button,
			so you can easily very that the current position really is correct. Also check the <a href="#shortcuts">Shortcuts</a>.<br />
			<br />
			In some cases a subtitle is impossible to synchronize because one or more scenes have been removed/added.
			In these cases you can select a number of subtitles in the subtitle <a href="#listview">list view</a>, right
			click and choose <i>Visual sync selected lines</i>. This way you can adjust the subtitle in smaller parts.
		</td>
	</tr>
</table><br />
<br />
<hr />
<br />
<h2><a id="translation">Translation (auto)</a></h2>
Subtitle Edit can translate a subtitle by using <a href="http://www.google.com/translate">Google translation</a>
or <a href="../mt">Multi Translator</a> (only Swedish to Danish).<br />
Google has translation between a lot of languages! It works fairly well, but translated subtitles will still
need manual correction (hint: use main window <a href="#video_modes">translate mode</a>).
<br />
<br />
<img src="/Content/SubtitleEdit/help_googletranslate.png" alt="Create/add lines" /><br />
<br />
<hr />
<br />
<h2><a id="fixcommonerrors">Fix common errors</a></h2>
<br />
<img src="/Content/SubtitleEdit/help_fixcommonerrors1.png" alt="Fix common errors" /><br />
<br />
Some subtitles have an lot of errors (often these subtitles are created using OCR software).<br />
"Tools -> Fix common errors" provides an easy way to fix a lot of these errors.<br />
The first window shows a list of actions to fix, just tick the check boxes you want fixed and click "Next".<br />
<br />
<br />
<img src="/Content/SubtitleEdit/help_fixcommonerrors2.png" alt="Fix common errors" /><br />
<br />
Now you can choose which fixes to apply. Default all fixes are selected, so you must un-check the checkbox for fixes
you do not wish to apply.<br />
The log tab gives an overview of what will be done - and what was not possible to fix.<br />
The "Apply selected fixes" button applies the fixes.<br />
<br />
<hr />
<br />
<b><a id="spellcheck">Spell check</a></b>
<br />
<br />
Spell check uses <a href="http://hunspell.sourceforge.net/">Hunspell</a> (which is also used by Open/LibraOffice, Firefox, Chrome, and Opera).<br />
Only English dictionary is included, but you can easily find more dictionaries via the toolbar menu <i>Spell check</i> -> <i>Get dictionaries...</i>!<br />
If you download <a href="http://extensions.services.openoffice.org/en/dictionaries">Open Office 3.x dictionaries</a> with the extension .oxt, then rename to .zip, and then unpack
the .dic file and the .aff file to the Subtitle Edit <i>Dictionary</i> folder.<br />
<br />
The spell check will show this window when it encounters an unknown word:<br />
<img src="/Content/SubtitleEdit/spell_check.png" alt="spell check" /><br />
<b><i>Edit whole text</i></b> will enable editing of the whole text (and not only the current word) - for this one sub only.<br />
<b><i>Change all / Use always</i></b> will change current word in always - also in future works (saved in the OCR Fix Replace list - take a look at Dictionaries/eng_OCRFixReplaceList.xml to learn more about this file).<br />
<b><i>Change / Use</i></b> will change current word just this once.<br />
<b><i>Add to names/noise list (case sensitive)</i></b> will remember the name in the edit text box with current casing - also in future works.<br />
<b><i>Add to user dictionary</i></b> will remember the word in the edit text box and not prompt for it any more - also in future works. User dictionary is not case sensitive.<br />
<br />
All buttons in the "Word not found" groupbox will use the word in the "Word not found" textbox.<br />
<br />
<hr />
<br />
<h2><a id="importvobsub">Import/OCR image based subtitles - like DVD Sub/idx or Blu-ray sup</a></h2>
<br />
<br />
If you open an image based subtitle like Blu-ray sup or sub/idx (vobsub) this screen will come up:<br />
<br />
<img src="/Content/SubtitleEdit/help_importvobsub.png" alt="Import/ocr image based subtitles" /><br />
<br />
<br />
The list view now contains empty subtitle text lines with only timestamps. You can enter the text manually, but two (or three if you have MODI installed) better options exists:
<ul>
	<li>OCR via Tesseract 3 (recommended): <a href="http://code.google.com/p/tesseract-ocr/">Tesseract</a> is an open source OCR engine. <br />
		You can find additional language data files at the <a href="http://code.google.com/p/tesseract-ocr/downloads/list">Tesseract Google code project</a>. These Tesseract
		dictionary files need to be unpacked to [Subtitle Edit folder]\Tesseract\tessdata.<br />
		<br />
		If you right-click in the list view, you will get a context menu with these options:<br />
		<img src="/Content/SubtitleEdit/ocr_context_menu.png" alt="OCR list view context menu" /><br />
		<b><i>Import text with matching time codes...</i></b> can be used to continue working on an earlier created subtitle.<br />
		<b><i>Save subtitle image as...</i></b> allows for saving current image as either pgn, gif, bmp, or tiff.<br />
		<b><i>Save all images with html index</i></b> display all subtitles images in an html page - for easy proof reading.<br />
		<br />

		OCR via Tesseract will work best if you also have <a href="#spellcheck">spell check</a> dictionaries.<br />
		<img src="/Content/SubtitleEdit/ocr_dictionary.png" alt="OCR dictionary" /><br />
		<b><i>prompt for unknown words</i></b> and <b><i>Try to guess unknown words</i></b> will only work if a dictionary is available. <b><i>Fix OCR errors</i></b> will also benefit
		from a dictionary.<br />
		<br />
		The <b><i>prompt for unknown words</i></b> will look like this (window is re-sizable):<br />
		<img src="/Content/SubtitleEdit/ocr_spell_check.png" alt="OCR spell check" /><br />
		<b><i>Edit whole text</i></b> will enable editing of the whole text (and not only the current word) - for this one sub only.<br />
		<b><i>Change all / Use always</i></b> will change current word always - also in future works (saved in the OCR Fix Replace list - take a look at Dictionaries/eng_OCRFixReplaceList.xml to learn more about this file).<br />
		<b><i>Change / Use</i></b> will change current word just this once.<br />
		<b><i>Add to names/noise list (case sensitive)</i></b> will remember this name with current casing - also in future works.<br />
		<b><i>Add to user dictionary</i></b> will remember this word and not prompt for it any more - also in future works.<br />
		<br />
		<br />
	</li>
	<li>OCR via image compare: This option does not require any third party software installed, but it does require the user to manually
		enter letters based on image parts.<br />
		"No of pixels is space" should be decreased if not all translated words are separated (like "<i>wearefine.</i>"), and increased
		if there are too many separations (like "<i>w e ar e fi n e.</i>").<br />
		Note: This does not work well with Blu-ray sup files!<br />
		<br />
	</li>
	<li>OCR via MODI: MODI is short for <a href="http://en.wikipedia.org/wiki/Microsoft_Office_Document_Imaging">Microsoft Office Document Imaging</a>. It's included with Microsoft Office Tools ("Microsoft Office \ Microsoft Office Tools" folder in the start menu).<br />
		This works a lot like Tesseract, but requires MS Office.<br />
		If you do have Microsoft Office installed but the MODI OCR is not available do try to run the MS Office setup again and make sure that MODI is selected in the setup program.
		<br />
	</li>
</ul>
Select one of the OCR methods and click on the button "Start OCR".<br/>
When you are done just click "OK" and do remember that an OCR'ed subtitle most likely contains some errors that need correction.<br />
If a VobSub subtitle contains more than one language, you will be prompted for language.<br />
<br />
<hr />
<br />
<br />
<h2><a id="shortcuts">Shortcuts</a></h2>
<br />
<table id="tableShortcuts">
	<thead>
		<tr>
			<th>Window</th>
			<th>Control</th>
			<th>Shortcuts</th>
			<th>Function</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>F1</td>
			<td>Show this help file ;)</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Ctrl+F</td>
			<td>Open the Find dialog</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>F3</td>
			<td>Find next</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Ctrl+z</td>
			<td>Show history/undo</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Ctrl+G</td>
			<td>Go to subtitle number dialog</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Ctrl+L</td>
			<td>Locates (scrolls to) first selected subtitle line in the subtitle list view</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Alt+Arrow up</td>
			<td>Go one line up in subtitle list view</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Alt+Arrow down</td>
			<td>Go one line down in subtitle list view</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Ctrl+U</td>
			<td>Translator mode on/off</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Ctrl+Shift+U</td>
			<td>Switch current subtitle with original subtitle</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Shift+Insert</td>
			<td>Insert line before first selected line</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Alt+Insert</td>
			<td>Insert line after first selected line</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>Subtitle text box</td>
			<td>Ctrl+I</td>
			<td>Make selection italic</td>
		</tr>
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>Subtitle list view</td>
			<td>Ctrl+A</td>
			<td>Select all lines</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>Subtitle list view</td>
			<td>Ctrl+D</td>
			<td>Select only first selected line</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>Subtitle list view</td>
			<td>Ctrl+Shift+I</td>
			<td>Inverse selection</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>Subtitle list view</td>
			<td>Delete</td>
			<td>Delete selected lines</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>Subtitle list view</td>
			<td>Insert</td>
			<td>Insert line after first selected line</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>*</td>
			<td>Ctrl+Shift+M (or Ctrl+K)</td>
			<td>Merge selected lines</td>
		</tr>
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Alt+Arrow left</td>
			<td>Go 0,5 second back in video</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Alt+Arrow right</td>
			<td>Go 0,5 second forward in video</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Ctrl+Arrow left</td>
			<td>Go 0,1 second back in video</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Ctrl+Arrow right</td>
			<td>Go 0,1 second forward in video</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Ctrl+Alt+P</td>
			<td>Pause video</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Ctrl+P</td>
			<td>Toggle play/pause video</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>F4</td>
			<td>Toggle position between end/start of current paragraph</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>F5</td>
			<td>Play current paragraph and stop right after</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>F6</td>
			<td>Go to start of current paragraph</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>F7</td>
			<td>Go 3 seconds back</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>F8</td>
			<td>Toggle play/pause</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>F9-F12</td>
			<td>Depend on mode (translate/create/adjust)</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Alt+1</td>
			<td>Go to start position of current paragraph</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Alt+2</td>
			<td>Go to end position of current paragraph</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Alt+3</td>
			<td>Go to previous paragraph</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform</td>
			<td>Alt+4</td>
			<td>Go to next paragraph</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform - Adjust mode</td>
			<td>Ctrl+Space</td>
			<td>Set start and offset the rest</td>
		</tr>
		<tr>
			<td>Main</td>
			<td>video player/waveform - Adjust mode</td>
			<td>Shift+Space</td>
			<td>Set end and go to next</td>
		</tr>
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>Undocked video player</td>
			<td>-</td>
			<td>Alt+A</td>
			<td>Resize window so video is aspect ratio 1:1</td>
		</tr>
		<tr>
			<td>Undocked video player</td>
			<td>-</td>
			<td>Alt+Enter</td>
			<td>Toggle maximized/normal window size</td>
		</tr>
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>OCR via image compare - Image to text manually</td>
			<td>-</td>
			<td>Alt+Arrow right</td>
			<td>Expand selection</td>
		</tr>
		<tr>
			<td>OCR via image compare - Image to text manually</td>
			<td>-</td>
			<td>Alt+Arrow left</td>
			<td>Shrink selection</td>
		</tr>
		<tr>
			<td>OCR via image compare - Image to text manually</td>
			<td>-</td>
			<td>Alt+i (depends on translation)</td>
			<td>Toggle italic</td>
		</tr>
		<tr>
			<td>OCR via image compare - Image to text manually</td>
			<td>-</td>
			<td>Alt+f (depends on translation)</td>
			<td>Toggle auto-submit (automatically continues after first pressed letter)</td>
		</tr>
	</tbody>
</table>
<br />
<br />
Note - many of the shortcuts are configurable via <i>Options -> Settings -> Shortcuts</i> (let me know if you need more):<br />
<br />
<img src="/Content/SubtitleEdit/shortcuts.png" alt="Configurable shortcuts" /><br />
<br />
<br />
<br />
<hr />
<br />
<br />

<h2><a id="translate">Translating Subtitle Edit to another language</a></h2>
<br />
To translate Subtitle Edit first download <a href="/Content/SubtitleEdit/Language.xml">the English xml language file</a> and save it to your
"Subtitle Edit\Languages" folder. Translate the content of all tags with an xml editor or just notepad. You can also use
<a href="/XmlContentTranslator">Xml Content Translator</a>!<br />
Save your edited xml file as 'CultureName'.xml ('CultureName' must be an <a href="http://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo%28v=vs.80%29.aspx">existing culture name</a> - and also a tag in the xml file) in the SubtitleEdit\Languages folder. In Options > Choose language,
you can now test your translation by choosing your language as language.<br />
Please do send any translations to me, so I can include them in Subtitle Edit - thx :)<br />
Tip: <a href="http://winmerge.org">WinMerge </a> is an excellent tool for comparing files.<br />
<br />
The installer can localized by translating <a href="http://subtitleedit.googlecode.com/svn/trunk/installer/Custom_Messages.iss">this file</a>.
<br />
<br />
<hr />
<br />


<h2><a id="networking">Networking - online collaboration</a></h2>
<br />
If you and a few friends want to translate the same subtitle at the same time over the internet, then do try the "Networking" feature.<br />
First load the subtitle you want translated (and optionally the original subtitle). Then choose "Start new session" in the "Networking" menu:<br />
<br />
<img src="/Content/SubtitleEdit/NetworkingStart.png" alt="Start network session" />
<br />
<br />
The "session key" is your subtitle id (can be any text you like) - other people need this in order to join (via menu Networking -> Join session) your session.<br />
The "username" will be displayed when updating/inserting/deleting lines and in the chat window<br />
The "webservice url" points to a small server program hosting the session (I initially developed this via direct p2p, but decided to use a webservice
instead, as it works much better with stuff like firewalls). <a href="/Content/SubtitleEdit/SENetworkingService.zip">Source code for this webservice is available</a> and should
make it easy to use your own server for hosting the networking session.<br />
<br />
<br />
Subtitle Edit running in networking mode below. In the "User/action" column in the list view you can follow the translation progress - this might sparkle some synergistic effect!<br />
<br />
<img src="/Content/SubtitleEdit/networking.jpg" alt="Subtitle Edit running in networking mode" />
<br />
<br />
<hr />
<br />


<h2><a id="codecs">Video player and codecs</a></h2>
<br />
Subtitle Edit can use VLC media player inside Subtitle Edit instead of DirectShow - go to <i>Options -> Settings -> Video player</i>. If the VLC option is grayed out, then you probably
need to install VLC version 2.x or 1.1.x!<br />
Yet another video option is to use <a href="http://www.mplayer2.org/">mplayer2</a>. Save "mplayer.exe" in your Subtitle Edit folder and in Subtitle Edit go to <i>Options -> Settings -> Video player</i> and choose "MPlayer".<br />
Note: VLC and MPlayer come with their own codecs, so you don't need to install <a href="http://code.google.com/p/lavfilters/">LAV Filters</a> or ffdshow/Hali Matroska Splitter.<br />
<br />
<img src="/Content/SubtitleEdit/OptionsVideoPlayer.png" alt="Choose video player" />
<br />
<br />
Often problems with the DirectShow video player in Subtitle Edit are caused by bad/conflicting/missing/old codecs (Codec packs are EVIL!).<br/>
The error might be something like System.Runtime.InteropServices.InvalidComObjectException and might mention QuartzTypeLib/QuartzPlayer.<br />
<br />
My recommendation is to uninstall all codec packs (incl. K-lite), reboot, and then install <a href="http://code.google.com/p/lavfilters/">LAV Filters - DirectShow Media Splitter and Decoders</a> <br />
Note that Subtitle Edit is a 32-bit application (unless you have specifically found a 64-bit version) and hence requires 32-bit codecs - even on win7 64-bit<br />
<br />
If you have problems with a specific format/file try <a href="http://mediaarea.net/MediaInfo">MediaInfo</a> / <a href="http://www.headbands.com/gspot/">GSpot</a>.<br /><br />
<br />
<hr />

<h2><a id="commandline">Subtitle Edit command line conversion</a></h2>
<br />
Subtitle Edit (3.2) can do command line conversion between formats listed in the main window format drop down list.<br />
<br />
Syntax: SubtitleEdit /convert "pattern" "name-of-format-without-spaces" [/encoding:?] [/fps:?] [/outputfolder:?]:<br />
<br />
 Example 1: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert sub1.srt sami</div> Result: Will convert sub1.srt to sub1.sub to SAMI format<br />
<br />
 Example 2: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert *.srt adobeencore</div> Result: Will convert all .srt files to Adobe Encore format<br />
<br />
 Example 3: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert *.srt adobeencore /encoding:windows-1252</div> Result: Same as above but using windows-1252 file encoding (see <a href="http://msdn.microsoft.com/en-us/library/system.text.encodinginfo.getencoding.aspx">Info.Name list</a> for more encodings)<br />
<br />
 Example 4: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert a.sub subrip /fps:25</div> Result: Converts frame based a.sub to time based a.srt via a frame rate of 25<br />
<br />
 Example 5: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert a.sub subrip /outputfolder:C:\Temp</div> Result: Converts a.sub to C:\Temp\a.srt<br />
<br />
 To list supported formats: <div style="font-family:Times New Roman; font-style:italic">SubtitleEdit /convert /list</div> Result: Show the more than 100 supported formats in command line conversion!<br />
<br />
<br />
<hr />

<h2><a id="portable">Portable version and VLC</a></h2>
<br />
To use the portable version with VLC portable, download VLC portable (at least version 1.1.0, like <a href="http://get.videolan.org/vlc/2.0.6/win32/vlc-2.0.6-win32.zip">vlc 2.0.6</a>) and unpack to a sub folder in the Subtitle Edit folder called "VLC". Another option is to use the &lt;VlcLocation&gt; in Settings.xml.<br />
Note: You need VLC 32-bit.
<br />
<br />
<hr />

<h2><a id="plugins">Make your own plugin</a></h2>
<br />
If you can code C# or VB.net you can make your own plugins for SE (SE 3.3 and later).<br />
<br />
You can <a href="/Content/SubtitleEdit/PluginSource.zip">download two demo plugins here</a>.<br />
"Haxor" is a very very basic example.<br />
"Fix Hyphens" is a more complete example with a form and some basic helper classes.<br />
At the moment it is possible to use plugins here: File, Tools, Sync, Translate, and Spellcheck.<br />
<br />
<br />
<hr />

<h2><a id="compile">Compiling Subtitle Edit</a></h2>
<br />
Compiling your own version of Subtitle Edit is easy as pie!<br />
<br />
If you don't have MS Visual Studio, then just download and install <a href="http://www.microsoft.com/express/vcsharp/">MS Visual C# Express</a>.
Then download the Subtitle Edit source code and open the "SubtitleEdit.csproj" file. Hit F5 - and that's it :)<br />
Now you can change/add features you want or fix my bugs - if there were any ;)
<br />
<br />
<hr />


<h2><a id="issues">Known issues</a></h2>
<br />
Subtitle Edit has a few known problems!<br />
<br />
<table id="tableKnownIssues">
	<thead>
		<tr>
			<th>Problem</th>
			<th>Solution</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Crash while playing/loading/showing video with K-Lite installed<br />
                (or other video/audio problems)</td>
			<td>Uninstall K-lite and then install <a href="http://code.google.com/p/lavfilters/">LAV Filters - DirectShow Media Splitter and Decoders</a><br />
	<small>Note that Subtitle Edit is a 32-bit application (unless you have specifically found a 64-bit version) and hence requires 32-bit codecs - even on win7 64-bit</small>
	<br /><br />Another option is to change video player to VLC in Subtitle Edit via Options->Settings: Video player!</td>
		</tr>
		<tr>
			<td>Problems with unicode characters (WinXp)</td>
			<td>
				Use font Lucida Sans Unicode/Times New Roman - or upgrade your xp to Windows 7 or 8 (even Vista works better than XP here - also from April 8 2014 nobody should use XP as MS stops all updates/patches)<br />
				Also, you can use File -> Import subtitle with manual chosen encoding.
			</td>
		</tr>
		<tr>
			<td>Spell check (NHunspell) crashes</td>
			<td>You can change spell check to use MS Word in Options!</td>
		</tr>
		<tr>
			<td>Subtitle Edit fails to run from a network drive ("The publisher could not be verified")</td>
			<td>If you do not have sufficient access to run Subtitle Edit from a network drive, then copy it to your local hard disk or obtain the needed access.</td>
		</tr>
		<tr>
			<td>Subtitle Edit portable is not working properly in "Program files" folder</td>
			<td>Use the installer if you want to have Subtitle Edit in "Program files" (remove portable version before)</td>
		</tr>
		<tr>
			<td>Subtitle Edit does not detect VLC in options (it's grayed out)</td>
			<td>You will need VLC 2.x - and it must be the 32-bit version (unless you also compiled your own 64-bit version of Subtitle Edit)</td>
		</tr>
		<tr>
			<td>Tesseract will not run properly...</td>
			<td>If you have used the tesseract installer, then uninstall it. After uninstalling the tesseract installer, you must still remove the environment variable "TESSDATA_PREFIX" (e.g. <a href="http://www.itechtalk.com/thread3595.html">like this)</a>.<br />
            Also, you might need the visual studio 2008 c++ runtime: http://www.microsoft.com/en-au/download/details.aspx?id=5582</td>
		</tr>
	</tbody>
</table>
<br />
<br />
<hr />

<br />
<br />
<br />
<br />
Did you not find what you were looking for? Feel free to <a href="mailto:nikse.dk@gmail.com">email me</a>.<br />
<br />
Also, do check out <a href="Video">the Subtitle Edit Intro videos</a> and the <a href="/Content/SubtitleEdit/TutorialByDny238.html">Syncing Subtitles with Subtitle Edit</a> tutorial by dny238!
<br />
<br />
<br />
<br />
<br />
<script type="text/javascript">
	addGrid('tableShortcuts');
	addGrid('tableKnownIssues');
</script>