@{
	ViewBag.Title = "Subtitle Edit 3.3 Ayuda";
	ViewBag.Footer = "esPero Que leS SirvA";
	ViewBag.MetaKeywords = "Ayuda Subtitle Edit, tutorial subtítulos, FAQ, cómo sincronizar";
	ViewBag.MetaDescription = "Página de ayuda de Subtitle Edit";
    ViewBag.FavIcon = "/favicon.ico";
}
<h1>@ViewBag.Title</h1>
<hr />
<br />
<div style="text-align:right">La ayuda también está disponible en <a href="/SubtitleEdit/HelpEU">Basco</a> | <a href="/SubtitleEdit/HelpEs">Español</a> | <a href="/Content/SubtitleEdit/Help/RU">Ruso</a></div>
<h2>Mini FAQ</h2>
P: Cuando intento un abrir un video en x formato, SE no puede abrir el video o no hay sonido. ¿Qué puedo hacer?<br />
R: Si usas Direct Show como reproductor de video asegúrate de tener <a href="#codecs">los códecs correctos</a>. Recomiendo desinstalar códecs como k-lite e instalar <a href="http://code.google.com/p/lavfilters/downloads/list">LAV filters</a> de 32-bit (+64-bit si lo deseas) en su lugar. Otra opción es usar el reproductor de video de VLC en su lugar.<br />
<br />
P: ¿Dónde está la herramienta para sincronizar los subtítulos?<br />
R: Usa <b>Ajustar todos los tiempos (mostrar antes/después)...</b> en el menú <b>Sincronización</b>. El atajo es <b>Ctrl+Shift+A</b>. Es una ventana de herramientas, para que pueda mantenerse abierta mientras se trabaja - o controle una vista previa de los subtítulos en el reproductor de video.<br />
<br />
P: ¿Puede Subtitle Edit cambiar la velocidad de fotogramas?<br />
R: Bueno, puede. Ve a <b>Sincronización -> Cambiar tasa de cuadros...</b><br />
<br />
P: ¿Puede Subtitle Edit dividir/unir subtítulos?<br />
R: Prueba con <b>Herramientas -> Dividir/Anexar/Unir subtítulos...</b><br />
<br />
P: ¿Puede Subtitle Edit modificar tiempos de compensación - pero no desde el principio?<br />
R: Sí, se puede trabajar con una selección de líneas dentro del subtítulo. Selecciona las líneas en la lista que quieras trabajar(sugerencia: haz clic en la primera línea, luego shift+clic en la última) y a continuación, haga clic-derecho en la lista (menú contextual) - ahora puedes ajustar las líneas seleccionadas en "Sincronización visual líneas seleccionadas" o solo "Mostrar líneas seleccionadas antes/después".<br />
<br />
P: ¿Puede Subtitle Edit reproducir un video en pantalla completa?<br />
R: Sí, presiona ALT+ENTER. Utiliza la barra espaciadora para reproducir/pausar y ALT+FLECHA ARRIBA/ABAJO para el subtítulo siguiente/anterior.<br />
<br />
P: Al traducir/editar subtítulos, ¿puede Subtitle Edit navegar rápidamente a la siguiente línea?<br />
R: Sí, presiona ALT+FLECHA ARRIBA/ABAJO para el subtítulo anterior/siguiente - también el campo de texto se mantendrá enfocado.<br />
<br />
P: ¿Puede Subtitle Edit pegar los subtítulos en el archivo de video?<br />
R: No, Subtitle Edit no puede hacer esto - pero uno o más de los más de 100 formatos de salida deberían servir. Utiliza ya sea <i>Archivo</i> -&gt; <i>Guardar como ...</i> para los formatos basados ​​en texto o <i>Archivo</i> -&gt; <i>Exportar ...</i> para formatos basados en binarios/imágenes.<br />
Hay dos formas de agregar subtítulos en el archivo de video - pegados al video (no se puede deshabilitar, por lo que esta <i>podría</i> ser una mala idea) o dentro de un contenedor de video (sólo para algunos formatos como mp4, mkv)<br  />
Lee más acerca de <a href="AddSubtitlesToVideo">añadir subtítulos al video</a>.
<br />
<br />
<hr />
<br />
<h2>Índice de Ayuda</h2>
<div style="margin-left: 25px; line-height: 25px;">
	<a href="#main">Subtitle Edit ventana principal</a><br />
	<a href="#main_resize">Subtitle Edit ventana principal - ajustar/desacoplar</a><br />
	<a href="#main_edit_original">Subtitle Edit ventana principal - editar original</a><br />
	<a href="#video_modes">Modos de video/onda de audio</a><br />
	<a href="#waveform">Onda de audio</a><br />
	<a href="#export">Exportar</a><br />
	<a href="#sync">Sincronización</a><br />
	<a href="#visual_sync">Sincronización visual</a><br />
	<a href="#translation">Traducción (automática)</a><br />
	<a href="#fixcommonerrors">Corregir errores comunes</a><br />
	<a href="#spellcheck">Revisar ortografía</a><br />
	<a href="#importvobsub">Importar subtítulos OCR basados ​​en imágenes - como DVD Sub/idx o Blu-ray sup</a><br />
	<a href="#shortcuts">Atajos</a><br />
	<a href="#translate">Traduciendo Subtitle Edit a otro idioma</a><br />
	<a href="#networking">Redes - colaboración en línea</a><br />
	<a href="#codecs">Reproductor de video y códecs</a><br />
	<a href="#commandline">Conversión por línea de comandos</a><br />
	<a href="#portable">Versión portable y VLC</a><br />
	<a href="#plugins">Haz tu propio plugin</a><br />
	<a href="#compile">Compilar Subtitle Edit</a><br />
	<a href="#issues">Problemas conocidos</a><br />
</div>
<br />
<hr />
<br />
<h2><a id="main">Subtitle Edit ventana principal</a></h2>

<br />
<h3>Menú de la ventana principal</h3>
En el menú se pueden encontrar muchas herramientas como cambiar mayúsculas, dividir líneas largas, dividir/anexar subtítulo, corrector ortográfico, sincronización visual/puntual/desde otro subtítulo, cambio de la tasa de cuadros (FPS), traductor Google, buscar, reemplazar, quitar el texto para sordos (Closed Caption "CC"), ¡y mucho más!<br />
Puedes importar subtítulos desde un DVD, vobsub, Blu-ray sup - incluso  se pueden importar vobsub dentro de archivos Matroska.<br />
<br />
<img src="/Content/SubtitleEdit/main_menu.png" alt="Menu" /><br />
<br />
<small>NOTA: Muchas otras herramientas están también disponibles haciendo clic derecho en la lista de los subtítulos.</small>
<br />
<br />
<br />

<br />
<h3><a id="formats">Subtítulo/formatos de archivo</a></h3>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/FormatAndEncoding.png" alt="Subtitle format" />
			<br />
			<br />
			En el menú superior puedes elegir el formato y la codificación. La primera  lista desplegable muestra formatos de subtítulos. SubRip (su extensión es ".srt") es
			el formato más utilizado hoy en día, por lo que se recomienda guardar los subtítulos en este formato.<br />
			Originalmente SubRip era un formato de sólo texto, pero en los últimos años se empezaron a utilizar las etiquetas html. Especialmente las
			etiquetas de cursiva y de fuentes son ampliamente utilizadas. Para obtener una lista de los reproductores que soportan SubRip <a href="http://ale5000.altervista.org/subtitles.htm">mira esto</a> .<br />
			<br />
			La codificación del archivo es detectada automáticamente en la mayoría de los casos. ANSI es un formato antiguo, que se utiliza mucho hoy en día, pero requiere que tu
			sistema tenga una configuración de referencia cultural específica. Se recomienda UTF-8 para nuevos subtítulos, ya que puede manejar caracteres distintos al Inglés
			mejor que ANSI (los subtítulos UTF-8 funcionarán en todos los equipos sin importar que configuración cultural tengan en la computadora) y puede mostrar otros
			símbolos como notas de música. El único inconveniente con la utilización de UTF-8 es, que algunos programas antiguos no son compatibles con este formato y WinXP sólo tiene unas pocas fuentes semi-unicode (Lucida Sans Unicode, Time New Roman, Courier New).<br />
			Si tienes un archivo ANSI en otro idioma que no sea tu actual cultura/lengua (o tienes un archivo inválido UTF/Unicode), entonces puedes utilizar el menú
			: <i>Archivo</i> -> <i>Importar subtítulos seleccionando codificador manualmente...</i><br />
			<br />
			<i>Importar subtítulos seleccionando codificador manualmente...</i> con vista previa:<br />
			<img src="/Content/SubtitleEdit/ChooseEncoding.gif" alt="ChooseEncoding" />
		</td>
	</tr>
</table>
<br />
<br />

<h3>Tasa de cuadros (FPS)</h3>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/help_framerate.png" alt="Frame rate" /><br />
			<br />
			La velocidad de cuadros ya no se muestra por defecto, pero se puede activar a través del menú <i>Opciones</i> -> <i>Ajustes: Barra de herramientas: Mostrar tasa de cuadros en la barra de herramientas.</i><br />
			La tasa de cuadros se utiliza al convertir entre formatos de subtítulos basados ​​en cuadros y formatos basados ​​en tiempo.
			SubRip se basa en el tiempo. MicroDVD (utilizados ampliamente hace 7-9 años) se basan en cuadros.<br />
			Los subtítulos basados ​​en el tiempo se usan siempre  que los videos tengan una frecuencia de cuadros constante - en caso contrario
			se utilizan los subtítulos basados ​​en cuadros, nada flexibles en absoluto.<br />
			Para cambiar la tasa de cuadros usa <i>Sincronización</i> -> <i>Cambiar tasa de cuadros</i> - o utiliza una de las otras <a href="#sync">herramientas de sincronización</a>.
		</td>
	</tr>
</table>
<br />
<br />

<h3>Vistas del Subtítulo - vista de lista o vista original</h3>
<p>Hay dos formas de ver un subtítulo - vista de lista o vista original.</p>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/help_sourceview.png" alt="Source view" />
		</td>
		<td>
			Así es como el archivo de subtítulo se ve en realidad - diferente para todos los formatos.<br />
			Puedes editar textos y códigos de tiempo aquí, pero ten cuidado - también es fácil echarlo a perder.
			<br />
			Puedes hacer que Subtitle Edit comience con la vista original dentro de Ajustes.
		</td>
	</tr>
</table>
<br />
<table>
	<tr>
		<td colspan="2">
			<a id="listview"><img src="/Content/SubtitleEdit/help_listview.png" alt="List view" /></a>
		</td>
	</tr>
	<tr>
		<td>
			La vista de lista ofrece un excelente panorama de los subtítulos - lo mismo para todos los formatos.<br />
			Puedes editar textos y códigos de tiempo aquí, borrar e insertar líneas con facilidad.<br />
			<br />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			También es posible seleccionar varias líneas y usar herramientas como <i>Traducir con Google</i> o
			<i>Sincronización visual</i> en las líneas seleccionadas.<br />
			<br />
			<a id="listview2"><img src="/Content/SubtitleEdit/help_listview2.png" alt="Listview" /></a>
		</td>
	</tr>
		<td colspan="2">
			<br />
			<br />
			<h3>Campo de texto</h3>
			<p>Por encima del campo de texto donde escribes el subtítulo actual hay una etiqueta llamada "Caracteres/segundo".
			Si es mayor a 25 será de color naranja/rojo.<br />
			<br />
			</p>
			<img src="/Content/SubtitleEdit/TextBox.png" alt="search" /><br />
			<br />
			Por debajo del campo de texto hay una etiqueta llamada "Longitud línea individual". La primera línea es de 33 caracteres y segunda línea es de 75 caracteres.
			Los colores referentes a la comparación de la duración de la línea actual se pueden modificar en Opciones -> Ajustes: General: longitud máxima línea simple
			(43 por defecto). Rojo significa demasiado largo, naranja significa que está cerca de máximo.
			<br />
			<br />
		</td>
	<tr>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			<br />
			<h3>Mostrar video y/o onda de audio/espectrograma</h3>
			<br />
			<a id="main_resize">La ventana principal puede mostrar video y/o la onda de audio.</a> Los controles de video pueden incluso desacoplarse - ¡excelente si tienes dos monitores!<br />
			Las líneas rojas horizontales/verticales muestra donde se puede cambiar el tamaño dentro de la ventana principal (a través de divisores).<br />
			<br />
			<img src="/Content/SubtitleEdit/main_video1.png" alt="Main window - with video/waveform" />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<br />
			<br />
			<a id="main_edit_original">Ahora es posible editar tanto la traducción como los subtítulos originales al mismo tiempo.</a> Por defecto, el original es de sólo lectura, pero puedes cambiar esto en Opciones -&gt; Ajustes: General: Permitir la edición del subtítulo original.<br />
			Atajos: <b>Ctrl+U</b> alternará con el subtítulo original. <b>Ctrl+Shift+U</b> cambia al subtítulo traducido/original.<br />
			Al editar los subtítulos originales y traducidos, ¡cambiar el inicio de tiempo/duración/eliminación/inserción afectará a ambos subtítulos!<br />
			<br />
			<img src="/Content/SubtitleEdit/main_edit_original.jpg" alt="Main window - with video/waveform" />
		</td>
	</tr>
</table>

<br />
<br />
<h3>Buscar</h3>
<p>Puede buscar pulsando Ctrl+F (F3 para buscar el siguiente). La búsqueda de expresión regular está disponible para nerds ;)</p>
<img src="/Content/SubtitleEdit/help_search.png" alt="search" /><br />
<br />
<hr />
<br />

<br />
<br />
<h3><a id="multiple_replace">Reemplazado Múltiple</a></h3>
<p>En <i>Editar -> Reemplazado Múltiple...</i> puede crear tus propias reglas para la reparación de un subtítulo - ¡incluso reglas avanzadas usando <a href="https://es.wikipedia.org/wiki/Expresión_regular">expresiones regulares</a>!</p>
<p>Al escribir expresiones regulares y referencias inversas son de mucha utilidad. Las partes dentro de paréntesis son grupos y pueden ser referenciados en la cadena de reemplazo donde $1 hace referencia al primer grupo y $2 al segundo y así continuamente.<br />
<div style="padding-left:15px">
Ejemplo 1:  <b>^J( .+)</b> + cadena de reemplazo <b>♪ $1</b> - solo el inicio con "J" será reemplazado, entonces si el texto es "J Letra de la música J" se convertirá en "♪ Letra de la música J"<br />
Ejemplo 2:  <b>([a-zá-úñü]+)([0-9]+)</b>  + cadena de reemplazo <b>$2$1</b> - dos grupos que serán intercambiados, entonces si el texto es "número26" se convertirá en "26número".<br />
</div>
</p>
<img src="/Content/SubtitleEdit/main_edit_multiple_replace.png" alt="Multiple replace" /><br />
<br />
<hr />
<br />

<h2><a id="video_modes">Modos de video/onda de audio</a></h2>
<br />
Al utilizar video y/o onda de audio tres modos diferentes (pestañas) están disponibles: Traducir, Crear y Ajustar.

<h3>Modo traductor</h3>
<img src="/Content/SubtitleEdit/mode_translate.png" alt="Translate mode" /><br />
<br />
En el modo traductor puedes traducir los subtítulos de un idioma a otro de forma manual (o corregir el subtítulo
traducido por una máquina) mientras se ve el video - y se escucha el audio.<br />
Si "Repetir automáticamente" está activado, entonces el subtítulo se repetirá determinado número de veces mientras escribes el texto correcto.<br />
Usa <i>Archivo</i> -> <i>Abrir subtítulo original (modo traductor)</i> para ver también el texto original.<br />
Sugerencia: utiliza &lt;alt+flecha arriba/abajo&gt; para ir al subtítulo anterior/siguiente.<br />
<br />
<br />

<h3>Modo crear</h3>
<img src="/Content/SubtitleEdit/mode_create.png" alt="Create/adjust lines" /><br />
<br />
Este es el lugar para crear líneas de subtítulos desde cero o ajustar manualmente las líneas existentes.<br />
<br />
Para crear líneas de subtítulos desde cero, pausa el archivo de video donde la línea del subtítulo debe comenzar y pulsa el botón
"Inser. subt. en pocisión del video". A continuación, escribe el texto - la duración se ajusta automáticamente. Ahora presiona el botón "Repro. poco antes del texto" y si el texto no se inicia exactamente cuando el diálogo se inicia, entonces, corrige "Ajustar tiempo inicial" a través de las flechas arriba/abajo hasta que se ajusten. La duración se puede ajustar a través del botón "Ajustar tiempo final" mientras se reproduce el video o a través de las "Flechas de duración arriba/abajo".<br />
Para insertar un subtítulo justo después de la línea actual, pulsa el botón Insertar (mientras que la lista está enfocada).<br />
<br />
También puedes hacer clic en la onda de audio o en la lista para insertar/dividir/combinar/eliminar las líneas.<br />
<br />
<br />

<h3>Modo ajustar</h3>
<img src="/Content/SubtitleEdit/mode_adjust.png" alt="Adjust mode" /><br />
<br />
Este es el lugar para ajustar las líneas existentes.<br />
<br />
Para ajustar las líneas de subtítulos manualmente uno por uno, comenzando desde la parte superior. Utiliza el botón "Ajustar inicio y compensar el resto" (F9) y "Ajustar tiempo final / siguiente" (F10).
Para hacerlo de forma más exacta, el "Tiempo inicial" y la "Duración" lo puedes ajustar mediante el uso de la flechas arriba/abajo.<br />
<br />
También puedes hacer clic en la onda de audio o en la lista para insertar/dividir/combinar/eliminar las líneas.<br />
<br />
<hr />
<br />

<h2><a id="waveform">Forma de onda</a></h2>
El control de la forma de onda hace que sea fácil ver exactamente dónde comienza/termina el habla.<br />
<img src="/Content/SubtitleEdit/Waveform1.png" alt="Wave form" /><br />
<br />
<br />
Con el menú del botón derecho, puedes dividir/combinar/eliminar subtítulos.<br />
<img src="/Content/SubtitleEdit/Waveform2.png" alt="Wave form - right click menu"/><br />
<br />
<br />
Para crear un nuevo párrafo, sólo tienes que seleccionar un área vacía y hacer clic derecho "Añadir texto aquí".<br />
<img src="/Content/SubtitleEdit/Waveform3.png" alt="Wave form - new selection" /><br />
<br />

<h3>Forma de onda, uso del ratón/teclado:</h3>
<ul>
	<li>Clic sencillo del ratón: Ir a la posición</li>
	<li>Doble clic del ratón sobre el subtítulo existente: Seleccionar subtítulo clicado</li>
	<li>Área marcada+clic derecho del ratón sobre el área marcada: Pregunta por Añadir texto aquí/Reproducir selección</li>
	<li>Arrastrar con el ratón hacia la izquierda/derecha los bordes del subtítulo (ajusta el tiempo de inicio o fin)</li>
	<li>Mover/arrastrar en medio del subtítulo (ajusta tanto el tiempo de inicio y final - pero no la duración)</li>
	<li>Con el clic derecho del ratón se puede agregar un nuevo subtítulo o realizar una acción como borrar/dividir/combinar en la línea del subtítulo existente</li>
	<li>Con la rueda del ratón puedes desplazarte por la onda de audio hacia adelante/atrás</li>
	<li>Alt+flecha izquierda/derecha mueve la posición del video</li>
	<li>Alt+flecha arriba/abajo va hacia el anterior/siguiente subtítulo</li>
	<li>Los símbolos numéricos +/-  hacen zum de acercamiento/alejamiento</li>
	<li>Clic sencillo del ratón+Shift fijará el comienzo de la línea seleccionada (sin moverse el tiempo de finalización)</li>
	<li>Clic sencillo del ratón+Ctrl fijará el final de la línea seleccionada (no se mueve el tiempo de inicio)</li>
	<li>Clic sencillo del ratón+Alt fijará el comienzo de la línea seleccionada (y mantendrá la duración)</li>
	<li>Doble clic del ratón en donde no hay un párrafo - intercambia la reproducción</li>
	<li><b>Clic sencillo del ratón+Ctrl+Shift fijará el comienzo de la línea seleccionada y compensará todas las líneas siguientes (manteniendo sus duraciones)</b></li>
	<li>Manteniendo presionada la tecla ALT al mover el inicio/final se moverá el inicio/final del subtítulo más cercano también si está más cercano a los 500 milisegundos - <a href="/Content/SubtitleEdit/WaveformMoveNextPrev.gif">como aquí.</a></li>
</ul>

<br />
<h3>Extracción de la forma de audio</h3>
La extracción de los datos de la forma de onda se realiza por medio de <a href="http://www.videolan.org/">VLC Media Player 2.x (o 1.1.x /)</a> y genera un archivo de onda muy pequeño (con una frecuencia de muestreo MUY baja)
y se guarda en la carpeta "WaveForms" del programa. Si por alguna razón VLC falla al extraer un archivo de sonido en el video, puedes extraer el archivo de onda con otra herramienta y soltar
ese archivo de onda en el control de forma de onda, lo que generará un archivo de onda pequeña (con una frecuencia de muestreo MUY baja) en la carpeta "WaveForms".<br />
<br />
Nota: No se puede utilizar una forma de onda sin el video (si sólo tienes un archivo wav y no el video, es posible cargar el archivo de audio como un archivo de video arrastrando el archivo de audio en el control de forma de onda).
<br />
<hr />
<br />


<br />
<h2><a id="export">Exportar</a></h2>
Subtitle Edit puede guardar a través de "Guardar como..." en muchos diferentes formatos de texto, pero si deseas guardar un subtítulo en un formato binario (como pac o 890) o un formato basado en imágenes (como png o bluray sup) debes utilizar Archivo -> Exportar.<br />
Muchos estilos como cursivas y colores dentro de los subtítulos se mantendrán al exportar a formatos basados en imágenes.<br />
<br />
<hr />
<br />


<h2><a id="sync">Sincronización</a></h2>
<table>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/SyncMenu.png" alt="Sync menu" />
		</td>
	</tr>
	<tr>
		<td>
			<br />
			Subtitle Edit ofrece varias opciones para sincronizar los subtítulos.<br />
			<p>Ajustar todos los tiempos (mostrar antes/después): Esto es útil si por ejemplo necesitas mostrar todos los textos 3 segundos antes.</p>
			<p><a href="#visual_sync">Sincronización visual</a>: Sincroniza haciendo coincidir el inicio/final de una escena (más abajo).</p>
			<p>Sincronización puntual: Permite la sincronización mediante el uso de 2 o más puntos - los códigos de los tiempo de sincronización puntual
			pueden ser introducidos manualmente, lo que hace que sea fácil de usar códigos de tiempo a partir de otro subtítulo ya en sincronía.</p>
			<p>Sincronización puntual desde de otro subtítulo: Si tiene otro subtítulo sincronizado (tal vez en otro idioma - ayuda si se puede entender un poco) puedes coincidir con una de
			las primeras líneas, coincidir con una de las últimas líneas, sincroniza y luego todas las líneas deben estar en sincronía.</p>
			<p>Cambiar la tasa de cuadros: Esto facilita que coincida el texto de un video con una velocidad de fotogramas distinta de otro (también se puede hacer por la sincronización visual o sincronización puntual).</p>
		</td>
	</tr>
</table>
<br />
<br />
<br />


<h2><a id="visual_sync">Sincronización visual</a></h2>
<table>
	<tr>
		<td colspan="2">
			<img src="/Content/SubtitleEdit/vissync.gif" alt="Visual Sync controls" />
		</td>
	</tr>
	<tr>
		<td>
			<img src="/Content/SubtitleEdit/help_vs2.png" alt="Synchronize button" />
		</td>
		<td>
			<br />
			La sincronización visual es una manera muy fácil de sincronizar los subtítulos con un archivo de video.<br />
			Haz coincidir una de las primeras líneas del subtítulo con el comienzo de la escena. A continuación, haz coincidir una
			de las últimas líneas del subtítulo con la escena final. Presiona el botón "Sincronización" - y eso es todo :)<br />
			Hay unos pocos botones de ayuda que te servirán para encontrar el lugar adecuado en el video donde el
			subtítulo debe comenzar (justo donde aparece la primera palabra). El botón "Reproducir 2" es un botón de prueba,
			para que fácilmente puedas ver si la posición actual es realmente la correcta. También puedes ver los <a href="shortcuts">Atajos</a> .<br />
			<br />
			En algunos casos, un subtítulo es imposible de sincronizar porque una o más escenas se han eliminado/añadido.
			En estos casos se puede seleccionar un número de subtítulos en el subtítulo <a href="#listview"></a>Vista de lista/0}, haz
			clic derecho con el ratón y selecciona <i>Sincro visual líneas seleccionadas...</i> De esta manera puedes ajustar el subtítulo en partes más pequeñas.
		</td>
	</tr>
</table><br />
<br />
<hr />
<br />
<h2><a id="translation">Traducción (automática)</a></h2>
Subtitle Edit puede traducir un subtítulo mediante el uso del <a href="http://www.google.com/translate">Traductor de Google</a>
o <a href="../mt">Multi Translator</a> (sólo del sueco al danés).<br />
¡Google puede traducir entre un montón de idiomas! Funciona bastante bien, pero los subtítulos traducidos aún necesitan
corrección manual (sugerencia: utilizar ventana principal en <a href="#video_modes">modo traductor</a>).
<br />
<br />
<img src="/Content/SubtitleEdit/help_googletranslate.png" alt="Create/add lines" /><br />
<br />
<hr />
<br />
<h2><a id="fixcommonerrors">Corregir errores comunes</a></h2>
<br />
<img src="/Content/SubtitleEdit/help_fixcommonerrors1.png" alt="Fix common errors" /><br />
<br />
Algunos subtítulos tienen una gran cantidad de errores (a menudo estos subtítulos se crean utilizando software OCR).<br />
"Herramientas -> Fijar errores comunes" proporciona una manera fácil de solucionar muchos de estos errores.<br />
La primera ventana muestra una lista de acciones para corregir, sólo debes marcar las casillas de verificación que desees reparar y pulsa "Siguiente".<br />
<br />
<br />
<img src="/Content/SubtitleEdit/help_fixcommonerrors2.png" alt="Fix common errors" /><br />
<br />
Ahora puedes elegir que correcciones quieres aplicar. Por defecto todos las correcciones están seleccionadas, por lo que debes desmarcar las casillas de verificación de las correcciones
que no deseas aplicar.<br />
La pestaña de registro ofrece una visión general de lo que se ha hecho - y de lo que no se ha podido corregir.<br />
El botón "Aplicar correcciones" hace las reparaciones.<br />
<br />
<hr />
<br />
<b><a id="spellcheck">Revisar ortografía</a></b>
<br />
<br />
El corrector ortográfico utiliza <a href="http://hunspell.sourceforge.net/">Hunspell</a> (que también es utilizado por Open/LibraOffice, Firefox, Chrome y Opera).<br />
Sólo el diccionario Inglés está incluido, pero se pueden encontrar más diccionarios a través del menú de la barra de herramientas <i>Ortografía</i> -> <i>Conseguir diccionarios...</i><br />
Si descargas <a href="http://extensions.services.openoffice.org/en/dictionaries">los diccionarios Open Office 3.x</a> con la extensión .oxt, cambia la extensión a .zip, luego descomprime
el archivo .dic y el archivo .aff a la carpeta <i>Dictionaries</i> del programa Subtitle Edit.<br />
<br />
El corrector ortográfico mostrará esta ventana cuando encuentre una palabra desconocida:<br />
<img src="http://www.nikse.dk/Content/SubtitleEdit/spell_check.png" alt="corrector ortográfico" /><br />
<b><i>Editar texto completo</i></b> permitirá editar todo el texto (y no sólo la palabra actual) - para éste subtítulo únicamente.<br />
<b><i>Cambiar todo / Utilizar siempre</i></b> va a cambiar la palabra actual siempre - también en trabajos futuros (guardado en la lista OCR de reemplazo - echarle un vistazo en la carpeta Dictionaries/spa_OCRFixReplaceList.xml para aprender más acerca de este archivo).<br />
<b><i>Cambiar / Utilizar</i></b> va a cambiar la palabra sólo por esa vez.<br />
<b><i>Añadir a list.nombres (sensible mayúsculas)</i></b> recordará el nombre en el campo de texto con el caso actual - también para futuros trabajos.<br />
<b><i>Añadir al diccionario del usuario</i></b> recordará la palabra en el campo de texto y no pedirá cambiarla más - también para futuros trabajos. El diccionario del usuario no distingue entre mayúsculas y minúsculas.<br />
<br />
Todos los botones del grupo "Palabra no encontrada" usan la palabra en el campo de texto "Palabra no encontrada".<br />
<br />
<hr />
<br />
<h2><a id="importvobsub">Importar subtítulos OCR basados ​​en imágenes - como DVD Sub/idx o Blu-ray sup</a></h2>
<br />
<br />
Si abres un subtítulo basado en imágenes como Blu-ray sup o sub/idx (vobsub), esta pantalla aparecerá:<br />
<br />
<img src="/Content/SubtitleEdit/help_importvobsub.png" alt="Import/ocr image based subtitles" /><br />
<br />
<br />
La lista que se muestra contiene sólamente subtítulos con líneas vacías de texto mostrando sólo los tiempos. Puedes introducir el texto de forma manual, pero existen dos (o tres si tienes instalado MODI) opciones mejores:
<ul>
	<li>OCR vía Tesseract 3 (recomendado): <a href="http://code.google.com/p/tesseract-ocr/">Tesseract</a> es un motor OCR de código abierto. <br />
		Puedes encontrar archivos de datos adicionales para otros idiomas en el proyecto <a href="http://code.google.com/p/tesseract-ocr/downloads/list">Tesseract Google code project</a>. Estos diccionarios para Tesseract
		deben descomprimirse en [la carpeta de Subtitle Edit]\Tesseract\tessdata.<br />
		<br />
		Si haces clic derecho en la lista, aparecerá un menú contextual con las siguientes opciones:<br />
		<img src="/Content/SubtitleEdit/ocr_context_menu.png" alt="Menú contextual lista OCR" /><br />
		<b><i>Importar texto con código de tiempo coincidente...</i></b> se puede utilizar para seguir trabajando con un subtítulo antes creado.<br />
		<b><i>Guardar imagen de subtítulo como...</i></b> permite guardar la imagen actual ya sea como pgn, gif, bmp o tiff.<br />
		<b><i>Guardar todas las imágenes con el índice HTML...</i></b> muestra todas las imágenes del subtítulo en una página HTML - para una lectura fácil.<br />
		<br />

		OCR via Tesseract will work best if you also havOCR vía Tesseract funcionará mejor si también tienes los <a href="#spellcheck">diccionarios ortográficos</a>.<br />
		<img src="/Content/SubtitleEdit/ocr_dictionary.png" alt="Diccionario OCR" /><br />
		<b><i>Solicitará palabras desconocidas</i></b> y <b><i>tratará de adivinar esas palabras</i></b>, sólo funcionará si está disponible un diccionario. <i><b>Corregir los errores de OCR</b></i> también se beneficiarán
		de un diccionario.<br />
		<br />
		La <b><i>solicitud de palabras desconocidas</i></b> se verá como esto (la ventana puede redimensionarse):<br />
		<img src="/Content/SubtitleEdit/ocr_spell_check.png" alt="Corrector ortográfico OCR" /><br />
		<b><i>Editar texto completo</i></b> permitirá editar todo el texto (y no sólo la palabra actual) - para éste subtítulo únicamente.<br />
		<b><i>Cambiar todo / Utilizar siempre</i></b> va a cambiar la palabra actual siempre - también en trabajos futuros (guardado en la lista OCR de reemplazo - puedes echarle un vistazo en Dictionaries/spa_OCRFixReplaceList.xml para aprender más acerca de este archivo).<br />
		<b><i>Cambiar / Utilizar</i></b> la palabra actual se va a cambiar sólo por esta vez.<br />
		<b><i>Añadir a list.nombres (sensible mayúsculas)</i></b> recordará este nombre con la palabra actual - también para futuros trabajos.<br />
		<b><i>Añadir al diccionario del usuario</i></b> recordará esta palabra y no preguntará más por ella - también para futuros trabajos.<br />
		<br />
		<br />
	</li>
	<li>OCR a través de comparar imágenes: Esta opción no requiere ningún software de terceros instalado, pero sí requiere que el usuario manualmente
		introduzca las letras basadas en partes de las imágenes.<br />
		"Ninguno de los pixeles es espacio" debe disminuirse si no todas las palabras traducidas están separadas (como "<i>"wearefine</i>"), Y aumentarse
		si hay demasiadas separaciones (como "<i>w e ar e fi n e</i>").<br />
		Nota: ¡Esto no funciona bien con archivos Blu-ray sup!<br />
		<br />
	</li>
	<li>OCR vía MODI: MODI es la abreviatura de <a href="http://en.wikipedia.org/wiki/Microsoft_Office_Document_Imaging">Microsoft Office Document Imaging</a> . Se incluye con las herramientas de Microsoft Office (en la carpeta del menú de inicio "Microsoft Office\Microsoft Office Tools").<br />
		Esto funciona muy parecido a Tesseract, pero requiere de MS Office.<br />
		Si tienes Microsoft Office instalado, pero el OCR  de MODI no está disponible trata de ejecutar la instalación de MS Office de nuevo y asegúrate de que MODI está seleccionado en el programa de instalación.
		<br />
	</li>
</ul>
Selecciona uno de los métodos de OCR y haz clic en el botón "Empezar OCR".<br />
Cuando hayas terminado haz clic en "Aceptar" y  recuerda que el subtítulo que acabas de crear por este medio probablemente contenga algunos errores que haya que corregir.<br />
Si un subtítulo VobSub contiene más de un idioma, se te pedirá escoger el lenguaje.<br />
<br />
<hr />
<br />
<br />
<h2><a id="shortcuts">Atajos</a></h2>
<br />
<table id="tableShortcuts">
	<thead>
		<tr>
			<th>Ventana</th>
			<th>Control</th>
			<th>Atajos</th>
			<th>Función</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>F1</td>
			<td>Mostrar esta ayuda ;)</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Ctrl+F</td>
			<td>Abre el cuadro de diálogo Buscar</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>F3</td>
			<td>Buscar siguiente</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Ctrl+Z</td>
			<td>Mostrar historial/deshacer</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Ctrl+G</td>
			<td>Ir al diálogo "Ir al subtítulo número (x - xxx)"</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Ctrl+L</td>
			<td>Localiza (desliza hacia) la primera línea del subtítulo seleccionado en la lista de subtítulos</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Alt+Flecha arriba</td>
			<td>Va un línea hacia arriba en la lista de subtítulos</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Alt+Flecha abajo</td>
			<td>Va un línea hacia abajo en la lista de subtítulos</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Ctrl+U</td>
			<td>Modo traductor activado/desactivado</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Ctrl+Shift+U</td>
			<td>Cambia el subtítulo actual con el subtítulo original</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Shift+Insert</td>
			<td>Inserta una línea antes de la primera línea seleccionada</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Alt+Insert</td>
			<td>Inserta una línea después de la primera línea seleccionada</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>Campo de texto del subtítulo</td>
			<td>Ctrl+I</td>
			<td>Hace cursiva la selección</td>
		</tr>
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>Lista del subtítulo</td>
			<td>Ctrl+A</td>
			<td>Selecciona todas las líneas</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>Lista del subtítulo</td>
			<td>Ctrl+D</td>
			<td>Selecciona sólo la primera línea seleccionada</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>Lista del subtítulo</td>
			<td>Ctrl+Shift+I</td>
			<td>Invierte la selección</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>Lista del subtítulo</td>
			<td>Suprimir</td>
			<td>Elimina las líneas seleccionadas</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>Lista del subtítulo</td>
			<td>Insert</td>
			<td>Inserta una línea después de la primera línea seleccionada</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>*</td>
			<td>Ctrl+Shift+M (o Ctrl+K)</td>
			<td>Combina las líneas seleccionadas</td>
		</tr>
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Alt+Flecha izquierda</td>
			<td>Regresa 0,5 segundos en el video</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Alt+Flecha derecha</td>
			<td>Adelanta 0,5 segundos en el video</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Ctrl+Flecha izquierda</td>
			<td>Regresa 0,1 segundos en el video</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Ctrl+Flecha derecha</td>
			<td>Adelanta 0,1 segundos en el video</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Ctrl+Alt+P</td>
			<td>Pausa el video</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Ctrl+P</td>
			<td>Alterna entre reproducir/pausar video</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>F4</td>
			<td>Alternar entre la posición final/principio del párrafo actual</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>F5</td>
			<td>Reproduce el párrafo actual y se detiene inmediatamente después</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>F6</td>
			<td>Va al inicio del párrafo actual</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>F7</td>
			<td>Regresa 3 segundos</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>· F8.</td>
			<td>Arterna entre reprodur/pausar</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>F9-F12</td>
			<td>Depende del modo (traducir/crear/ajustar)</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Alt +1</td>
			<td>Va a la posición inicial del párrafo actual</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Alt +2</td>
			<td>Va a la posición final del párrafo actual</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Alt+3</td>
			<td>Va al párrafo anterior</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reproductor de video/onda de audio</td>
			<td>Alt +4</td>
			<td>Va al párrafo siguiente</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reprodutor de video/onda de audio - modo ajuste</td>
			<td>Ctrl+Espacio</td>
			<td>Establece el inicio y compensa al resto</td>
		</tr>
		<tr>
			<td>Principal</td>
			<td>reprodutor de video/onda de audio - modo ajuste</td>
			<td>Shift+Espacio</td>
			<td>Ajusta el final y va al siguiente</td>
		</tr>
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>Reproductor de video desacoplado</td>
			<td>-</td>
			<td>Alt+A</td>
			<td>Cambia el tamaño de la ventana de modo que el video tenga una relación de aspecto 1:1</td>
		</tr>
		<tr>
			<td>Reproductor de video desacoplado</td>
			<td>-</td>
			<td>Alt+Enter</td>
			<td>Alterna el tamaño de la ventana entre maximizado/normal</td>
		</tr>
		<tr>
			<td>-</td>
			<td>-</td>
			<td>-</td>
			<td>-</td>
		</tr>
		<tr>
			<td>OCR mediante comparación de imágenes - imagen a texto de forma manual</td>
			<td>-</td>
			<td>Alt+Flecha derecha</td>
			<td>Expande la selección</td>
		</tr>
		<tr>
			<td>OCR mediante comparación de imágenes - imagen a texto de forma manual</td>
			<td>-</td>
			<td>Alt+Flecha izquierda</td>
			<td>Compacta la selección</td>
		</tr>
		<tr>
			<td>OCR mediante comparación de imágenes - imagen a texto de forma manual</td>
			<td>-</td>
			<td>Alt+I (depende de la traducción)</td>
			<td>Activa las cursivas</td>
		</tr>
		<tr>
			<td>OCR mediante comparación de imágenes - imagen a texto de forma manual</td>
			<td>-</td>
			<td>Alt+F (depende de la traducción)</td>
			<td>Activa el envío automático (continúa automáticamente después de la primera letra presionada)</td>
		</tr>
	</tbody>
</table>
<br />
<br />
Note - many of the shortcuts are configurable via <i>Options -> Settings -> Shortcuts</i> (let me know if you need more):<br />
<br />
<img src="/Content/SubtitleEdit/shortcuts.png" alt="Configuración de atajos" /><br />
<br />
<br />
<br />
<hr />
<br />
<br />

<h2><a id="translate">Traduciendo Subtitle Edit a otro idioma</a></h2>
<br />
Para traducir Subtitle Edit descarga primero <a href="/Content/SubtitleEdit/Language.xml">el archivo xml en inglés</a> y guárdalo en la carpeta
"Subtitle Edit\Languages". Traduce el contenido de todas las etiquetas con un editor xml o sólo con el bloc de notas. ¡También puedes utilizar
<a href="/XmlContentTranslator">Xml Content Translator</a>!<br />
Guarda el archivo xml editado como 'CultureName'.xml ('CultureName' debe ser un <a href="http://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo%28v=vs.80%29.aspx">nombre de referencia cultural existente</a> - y también una etiqueta en el archivo xml) en la carpeta SubtitleEdit\Languages. En Opciones -> Seleccionar idioma,
ahora puedes probar tu traducción al elegir tu idioma como lenguaje.<br />
Por favor envíame las traducciones, para que yo pueda incluirlos en el Subtitle Edit - gracias :)<br />
Sugerencia: <a href="http://winmerge.org">WinMerge </a> es una excelente herramienta para comparar archivos.<br />
<br />
El instalador puede localizarse mediante la traducción de <a href="http://subtitleedit.googlecode.com/svn/trunk/installer/Custom_Messages.iss">este archivo</a>.
<br />
<br />
<hr />
<br />


<h2><a id="networking">Redes - colaboración en línea</a></h2>
<br />
Si tú y algunos amigos quieren traducir un subtítulo al mismo tiempo a través de Internet, pueden probar la característica "Red".<br />
Primero carga los subtítulos que desean traducir (y opcionalmente el subtítulo original). Después, selecciona "Iniciar sesión" en el menú "Red":<br />
<br />
<img src="/Content/SubtitleEdit/NetworkingStart.png" alt="Start network session" />
<br />
<br />
La "Clave de sesión" es el ID de tus subtítulos (puede ser cualquier texto que quieras) - otras personas necesitan esto para unirse (a través del menú Red -> Unirse a sesión) a la sesión.<br />
El "Usuario" se mostrará en la pantalla al actualizar/insertar/eliminar las líneas y en la ventana del chat<br />
La "URL" apunta a un pequeño programa en un servidor que aloja la sesión (Inicialmente lo desarrollé para usarlo directamente mediante p2p, pero decidí utilizar un servicio web
en su lugar, ya que funciona mucho mejor con cosas como cortafuegos "firewalls"). <a href="/Content/SubtitleEdit/SENetworkingService.zip">El código fuente de este servicio web está disponible</a> y es
fácil de usar para alojar una sesión en tu propio servidor de red.<br />
<br />
<br />
Subtitle Edit funcionando en modo de red, como se muestra en la imagen. En la columna "Usuario/acción" de la lista de los subtítulos puedes seguir el progreso de traducción - ¡esto podría tener algún efecto sinérgico!<br />
<br />
<img src="/Content/SubtitleEdit/networking.jpg" alt="Subtitle Edit running in networking mode" />
<br />
<br />
<hr />
<br />


<h2><a id="codecs">Reproductor de video y códecs</a></h2>
<br />
Subtitle Edit puede usar el reproductor VLC dentro de Subtitle Edit en lugar de DirectShow - ir a <i>Opciones -> Ajustes -> Reproductor de Video.</i> Si la opción VLC está en gris, entonces probablemente
necesitas instalar VLC versión 2.x o 1.1.x.<br />
Sin embargo, otra opción de video es usar <a href="http://www.mplayer2.org/">mplayer2</a> . Guarda "mplayer.exe" en la carpeta de Subtitle Edit y ve a <i>Opciones -> Ajustes -> Reproductor de video</i> y elige la opción "MPlayer".<br />
Nota: VLC y MPlayer vienen con sus propios codecs, por lo que no es necesario instalar <a href="http://code.google.com/p/lavfilters/">LAV Filters</a> o ffdshow/Hali Matroska Splitter.<br />
<br />
<img src="/Content/SubtitleEdit/OptionsVideoPlayer.png" alt="Elegir Reproductor de video" />
<br />
<br />
A menudo, los problemas con el reproductor de video de DirectShow en el Subtitle Edit son causados ​​por codecs malos/conflictivos/desaparecidos/antiguos (¡Los paquetes de codecs son MALOS!).<br />
El error podría aparecer como System.Runtime.InteropServices.InvalidComObjectException y podría mencionar algo como QuartzTypeLib/QuartzPlayer.<br />
<br />
Mi recomendación es desinstalar todos los paquetes de codecs (incl. K-lite), reiniciar y luego instalar <a href="http://code.google.com/p/lavfilters/">LAV Filters - DirectShow Media Splitter and Decoders</a> <br />
Tenga en cuenta que Subtitle Edit es una aplicación de 32-bit (a menos que específicamente hayas encontrado una versión de 64-bit) y por lo tanto requiere de codecs de 32-bit - incluso en win7 64-bit<br />
<br />
Si tienes problemas con un determinado formato/archivo intenta con <a href="http://mediaarea.net/MediaInfo">MediaInfo</a> / <a href="http://www.headbands.com/gspot/">GSpot</a>.<br /><br />
<br />
<hr />

<h2><a id="commandline">Subtitle Edit conversión mediante línea de comandos</a></h2>
<br />
Subtitle Edit (3.3) puede realizar la conversión entre distintos formatos mediante línea de comandos.<br />
<br />
Sintaxis: SubtitleEdit /convert "pattern" "name-of-format-without-spaces" [/encoding:?] [/fps:?] [/outputfolder:?]:<br />
<br />
 Ejemplo 1: <div style="font-family:Times New Roman;font-style:italic">SubtitleEdit /convert sub1.srt sami</div> Resultado: Convertirá sub1.srt a sub1.sub con formato SAMI<br />
<br />
 Ejemplo 2: <div style="font-family:Times New Roman;font-style:italic">SubtitleEdit /convert *.srt adobeencore</div> Resultado: Convertirá todos los archivos .srt a formato Adobe Encore.<br />
<br />
 Ejemplo 3 <div style="font-family:Times New Roman;font-style:italic">SubtitleEdit /convert *.srt adobeencore /encoding:windows-1252</div> Resultado: Igual que el anterior pero la codificación de archivos usará windows-1252 (véase la lista <a href="http://msdn.microsoft.com/en-us/library/system.text.encodinginfo.getencoding.aspx">Info.Name</a> para más codificaciones)<br />
<br />
 Ejemplo 4 <div style="font-family:Times New Roman;font-style:italic">SubtitleEdit /convert a.sub subrip /fps:25</div> Resultado: Convierte a.sub en a.srt basado en tiempo a través de una tasa de 25 cuados<br />
<br />
 Ejemplo 5 <div style="font-family:Times New Roman;font-style:italic">SubtitleEdit /convert a.sub subrip /outputfolder:C:\Temp</div> Resultado: Convierte a.sub a C:\Temp\a.srt<br />
<br />
 Para una lista de formatos soportados: <div style="font-family:Times New Roman;font-style:italic">SubtitleEdit /convert /list</div> Resultado: ¡Muestra los más de 100 formatos soportados en la conversión mediante línea de comandos!<br />
<br />
<br />
<hr />

<h2><a id="portable">Versión portable y VLC</a></h2>
<br />
Para utilizar la versión portable de VLC, descarga VLC portable (al menos la versión 1.1.0, como <a href="http://get.videolan.org/vlc/2.0.6/win32/vlc-2.0.6-win32.zip">vlc 2.0.6</a>) y desempácala a una subcarpeta en la carpeta de Subtitle Edit llamándola "VLC". Otra opción es usar la carpeta donde se localiza &lt;Vlc&gt; en Settings.xml.<br />
Nota: Nececitas la versión de VLC de 32-bit.
<br />
<br />
<hr />

<h2><a id="plugins">Haz tu propio plugin</a></h2>
<br />
Si sabes programar en C# o VB.net puedes hacer tus propios plugins para el Subtitle Edit (SE 3.3 y posteriores).<br />
<br />
Puedes <a href="/Content/SubtitleEdit/PluginSource.zip">descargar dos plugins de demostración aquí</a>.<br />
"Haxor" es un ejemplo muy básico.<br />
"Fix Hyphens (Reparar Guiones)" es un ejemplo más completo de una forma y unas clases de ayuda básicas.<br />
Por el momento es posible utilizar plugins aquí: Archivo, Herramientas, Sincronizar, Traducir y Ortografía.<br />
<br />
<br />
<hr />

<h2><a id="compile">Compilar Subtitle Edit</a></h2>
<br />
¡Compilar su propia versión de Subtitle Edit es pan comido!<br />
<br />
Si no tienes MS Visual Studio, sólo tienes que descargar e instalar <a href="http://www.microsoft.com/express/vcsharp/">MS Visual C# Express</a>.
Después, descarga el código fuente de Subtitle Edit y abre el archivo "SubtitleEdit.csproj". Pulsa F5 - y eso es todo :)<br />
Ahora puedes cambiar/añadir características que desees o corregir mis errores - si hubiera alguno ;)
<br />
<br />
<hr />


<h2><a id="issues">Problemas conocidos</a></h2>
<br />
¡Subtitle Edit tiene algunos problemas conocidos!<br />
<br />
<table id="tableKnownIssues">
	<thead>
		<tr>
			<th>Problema</th>
			<th>Solución</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Fallas durante la reproducción/carga/muestra del video con K-Lite instalado</td>
			<td>Desinstalar K-lite y luego instalar {0LAV Filters - DirectShow Media Splitter and Decoders<br />
	<small>Tenga en cuenta que Subtitle Edit es una aplicación de 32-bit (a menos que hayas encontrado específicamente una versión de 64-bit) y por lo tanto requiere de codecs de 32-bit - incluso en win7 64-bit</small>
	<br /><br />¡Otra opción es cambiar el reproductor de video VLC en Subtitle Edit mediante Opciones-> Ajustes: Reproductor de Video!</td>
		</tr>
		<tr>
			<td>Problemas con los caracteres Unicode (WinXp)</td>
			<td>
				Usar la fuente Lucida Sans Unicode/Times New Roman - o actualizar tu XP a Windows 7 u 8 (Vista funciona incluso mejor que XP aquí - también desde el 8 de Abril del 2014 nadie debería utilizar XP ta que MS dejará de dar actualizaciones/parches)<br />
				Además, puedes utilizar Archivo -> Importar subtítulo seleccionando codificador manualmente.
			</td>
		</tr>
		<tr>
			<td>Corrector Ortográfico (NHunspell) se bloquea</td>
			<td>¡Puedes cambiar el corrector ortográfico para utilizar MS Word en opciones!</td>
		</tr>
		<tr>
			<td>Subtitle Edit no se puede ejecutar desde una unidad de red (("The publisher could not be verified")</td>
			<td>Si no tienes permisos suficientes para ejecutar Subtitle Edit desde una unidad de red, cópialo en el disco duro local para obtener los permisos necesarios.</td>
		</tr>
		<tr>
			<td>Subtitle Edit portable no funciona correctamente en la carpeta "Archivos de programa"</td>
			<td>Utiliza el instalador si quieres tener Subtitle Edit en "Archivos de programa" (quita primero la versión portable)</td>
		</tr>
		<tr>
			<td>Subtitle Edit no detecta VLC en opciones (está atenuada)</td>
			<td>Necesitas VLC 2.x - y debe ser la versión de 32-bit (a menos que hayas compilado una versión propia en 64-bit del Subtitle Edit)</td>
		</tr>
		<tr>
			<td>Tesseract no funciona correctamente...</td>
			<td>Si usaste el instalador de tesseract, entonces desinstálalo. Después de desinstalarlo, debes eliminar todavía la variable de entorno "TESSDATA_PREFIX" (ej. <a href="http://www.itechtalk.com/thread3595.html">como aquí)</a>.<br />
            Además, es posible que necesites visual studio 2008 c++ runtime: http://www.microsoft.com/en-au/download/details.aspx?id=5582</td>
		</tr>
	</tbody>
</table>
<br />
<br />
<hr />

<br />
<br />
<br />
<br />
¿No encontraste lo que necesitas? Siéntete libre de <a href="mailto:nikse.dk@gmail.com">enviarme un correo</a>.<br />
<br />
Además, ¡echa un vistazo a los <a href="Video">videos introductorios de Subtitle Edit</a> y al tutorial <a href="/Content/SubtitleEdit/TutorialByDny238.html">Sincronizar Subtítulos con Subtitle Edit</a> por dny238!
<br />
<br />
<br />
<br />
<br />
<script type="text/javascript">
	addGrid('tableShortcuts');
	addGrid('tableKnownIssues');
</script>
