<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="1.25.0" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net40-Client" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net40-Client" />
  <package id="NHunspell" version="1.2.5359.26126" targetFramework="net40-Client" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net40-Client" />
</packages>